<section class="job-listing">
  <div class="job-header">
    <h4>Jobs for you</h4>
    <button
      class="add-btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addJobModal"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
      Add Job
    </button>
  </div>
  <div class="job-listing-content">
    <div class="job-info" data-bs-toggle="modal" data-bs-target="#viewJobModal">
      <h2 class="job-title">React Frontend Developer</h2>
      <span class="company-name"
        >Procept Associates Professional Services Limited</span
      >
      <span class="company-location">Lagos</span>
      <span class="employmentType">Full-time</span>
    </div>
  </div>
  <!-- <button type="submit">Show more Job</button> -->
</section>
