.job-listing {
  margin-top: 20px;
  .job-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: 18px !important;
      font-weight: 500;
    }
    .add-btn {
      display: flex;
      gap: 5px;
      align-items: center;
      background: none;
      background-color: #1c73e8;
      border: 0.0625rem solid #0000;
      border-radius: 0.5rem;
      box-shadow: none;
      color: #fff;
      cursor: pointer;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 90px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      word-break: keep-all;

      .icon {
        width: 20px;
        height: 20px;
        color: white;
      }
    }
  }
  .job-listing-content {
    margin: 20px 0px;

    .job-info {
      border: 1px solid #dddd;
      padding: 1rem;
      border-radius: 10px;
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 2px;
      .job-title {
        font-size: 20px;
        font-weight: 600;
        color: #333;
      }
      .company-name,
      .company-location {
        font-size: 14px;
        font-weight: 400;
        color: #4a4a4a;
        line-height: 1.3;
        margin-top: 4px;
      }
      .job-desc {
        margin: 4px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .jobType,
      .salary {
        background-color: #f3f2f1;
        border-radius: 0.25rem;
        color: #595959;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.3125rem;
        margin-top: 10px;
        margin-bottom: 0.25rem;
        margin-right: 0.25rem;
        padding: 0.2rem 0.5rem;

        vertical-align: middle;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all 0.5s ease;
      }
    }
  }

  button {
    background-color: #1c73e8;
    border: 0.0625rem solid #0000;
    border-radius: 0.5rem;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.43;
    line-height: 1.125rem;
    min-width: 150px;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    word-break: keep-all;
  }
}
