<div
  class="modal fade"
  #myModal
  id="viewCandidateModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">View Candidate</h5>
        <span class="close-icon" data-bs-dismiss="modal" aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            style="width: 20px"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>

      <div class="modal-body" *ngIf="candidateViewData">
        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Name</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.name
                ? (candidateViewData.name | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Job Title</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.jobTitle | titlecase }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Job Type</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.jobType | titlecase }}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Work Mode</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.workMode | titlecase }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Employment Type</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.jobDetail.employmentType | titlecase
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Email Address</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.email || "N/A" }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Phone Number</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.phone || "N/A" }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>State</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.state
                ? (candidateViewData.state | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>City/Province</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.city
                ? (candidateViewData.city | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Address</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.address
                ? (candidateViewData.address | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Current Status</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.status.slice(0, 9) | titlecase }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Schedule Date</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.scheduledDate || "Not available"
            }}</span>
          </div>
        </div>
      </div>

      <div class="candidate-additional-info">
        <div class="work-history">
          <ngb-accordion #acc="ngbAccordion" activeIds="1">
            <ngb-panel [ngbCollapse]="true">
              <ng-template ngbPanelTitle>Work History</ng-template>
              <ng-template ngbPanelContent>
                <div *ngFor="let job of candidateViewData?.workHistories">
                  <p><strong>Job Title:</strong> {{ job.jobTitle }}</p>
                  <p><strong>Company Name:</strong> {{ job.companyName }}</p>
                  <p><strong>Start Date:</strong> {{ job.startDate }}</p>
                  <p><strong>End Date:</strong> {{ job.endDate }}</p>
                  <p><strong>Description:</strong> {{ job.jobDescription }}</p>
                  <hr />
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="education-history">
          <ngb-accordion #acc="ngbAccordion" activeIds="2">
            <ngb-panel>
              <ng-template ngbPanelTitle>Education History</ng-template>
              <ng-template ngbPanelContent>
                <div *ngFor="let item of candidateViewData?.educationHistories">
                  <p><strong>Degree:</strong> {{ item.degree }}</p>
                  <p>
                    <strong>Institution Name:</strong>
                    {{ item.institutionName }}
                  </p>
                  <p><strong>Major:</strong> {{ item.major }}</p>
                  <p>
                    <strong>Field of study:</strong> {{ item?.fieldOfStudy }}
                  </p>

                  <p>
                    <strong>Educational Level:</strong>
                    {{ item.educationLevel }}
                  </p>

                  <p>
                    <strong>Start Date:</strong>
                    {{ item.startDate }}
                  </p>
                  <p>
                    <strong>End Date:</strong>
                    {{ item.endDate }}
                  </p>
                  <hr />
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>

        <div class="skill-history">
          <ngb-accordion #acc="ngbAccordion" activeIds="3">
            <ngb-panel [ngbCollapse]="true">
              <ng-template ngbPanelTitle>Skill History</ng-template>
              <ng-template ngbPanelContent>
                <div *ngFor="let item of candidateViewData?.skills">
                  <p><strong>Skill Name:</strong> {{ item.skillName }}</p>
                  <p>
                    <strong>Proficiency Level:</strong>
                    {{ item.proficiencyLevel }}
                  </p>

                  <p>
                    <strong>Year of experience:</strong> {{ item?.noOfYears }}
                  </p>

                  <hr />
                </div>

                <p *ngIf="!candidateViewData?.skills?.length">
                  Candidate has no skill uploaded
                </p>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>

        <div
          class="question"
          *ngIf="candidateViewData?.questionAnswers?.length"
        >
          <ngb-accordion #acc="ngbAccordion" activeIds="3">
            <ngb-panel [ngbCollapse]="true">
              <ng-template ngbPanelTitle>Questions & Answers</ng-template>
              <ng-template ngbPanelContent>
                <div *ngFor="let item of candidateViewData?.questionAnswers">
                  <p>
                    <strong>Question</strong>:
                    {{ item?.questionOption?.description }}
                  </p>

                  <ng-container
                    *ngIf="item.questionOption.questionType === 'DROPDOWN'"
                    ><li *ngFor="let item of item.questionOption.options">
                      <strong>Answer</strong> : {{ item?.description }}
                    </li>
                  </ng-container>

                  <ng-container
                    *ngIf="item?.questionOption?.questionType === 'TEXT'"
                    ><li><strong>Answer</strong>: {{ item?.answer }}</li>
                  </ng-container>

                  <ng-container
                    *ngIf="item?.questionOption?.questionType === 'DATE'"
                    ><li><strong>Answer</strong>: {{ item?.answer }}</li>
                  </ng-container>
                  <hr />
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>

      <div class="action-btn">
        <div class="hire">
          <button (click)="hireCandidate(candidateViewData.id)">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 21V19C16 17.8954 15.1046 17 14 17H6C4.89543 17 4 17.8954 4 19V21"
                stroke="#ffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <circle
                cx="10"
                cy="7"
                r="4"
                stroke="#fff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17 10L19 12L22 9"
                stroke="#ffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            Hire
          </button>
        </div>

        <div class="reject">
          <button (click)="rejectCandidate(candidateViewData.id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="4" y1="4" x2="20" y2="20"></line>
            </svg>

            Reject
          </button>
        </div>
        <div
          class="schedule-date"
          data-bs-dismiss="modal"
          data-target="#scheduleDateModal"
          (click)="handleViewCandidate(candidateViewData.id)"
        >
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
              />
            </svg>

            Schedule Date
          </button>
        </div>

        <!-- <div class="interview-btn">
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
            Interwiew
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
