<div
  class="modal fade"
  #myModal
  id="viewCandidateModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">View Candidate</h5>
        <span class="close-icon" data-bs-dismiss="modal" aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            style="width: 20px"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>

      <div class="modal-body" *ngIf="candidateViewData">
        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Name</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.name
                ? (candidateViewData.name | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Job Title</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.jobTitle | titlecase }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Job Type</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.jobType | titlecase }}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Work Mode</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.workMode | titlecase }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Employment Type</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.jobDetail.employmentType | titlecase
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Email Address</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.email || "N/A" }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Phone Number</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.phone || "N/A" }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>State</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.state
                ? (candidateViewData.state | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>City/Province</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.city
                ? (candidateViewData.city | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Address</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{
              candidateViewData.address
                ? (candidateViewData.address | titlecase)
                : "N/A"
            }}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 control-label form-control-static p-2">
            <label><strong>Current Status</strong></label>
          </div>
          <div
            class="col-sm-6 form-control-static p-2"
            style="word-wrap: break-word"
          >
            <span>{{ candidateViewData.jobDetail.status | titlecase }}</span>
          </div>
        </div>
      </div>

      <div class="candidate-additional-info">
        <div class="work-history">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Work History</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ul *ngFor="let item of candidateViewData?.workHistories">
                    <li><strong>Job Type</strong>: {{ item?.jobTitle }}</li>
                    <li>
                      <strong>Company Name</strong>: {{ item?.companyName }}
                    </li>
                    <li><strong>Start Date</strong>: {{ item?.startDate }}</li>

                    <li><strong>End Date</strong>: {{ item?.endDate }}</li>
                    <li>
                      <strong>Job Description</strong> :
                      {{ item?.jobDescription }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="education-history">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Education</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ul
                    *ngFor="let item of candidateViewData?.educationHistories"
                  >
                    <li><strong>Degree </strong>: {{ item?.degree }}</li>
                    <li>
                      <strong>institutionName</strong>:
                      {{ item?.institutionName }}
                    </li>
                    <li>
                      <strong>Field of study</strong>: {{ item?.fieldOfStudy }}
                    </li>

                    <li><strong>major</strong>: {{ item?.major }}</li>
                    <li>
                      <strong>educationLevel</strong> :
                      {{ item?.educationLevel }}
                    </li>

                    <li><strong>Start Date</strong> : {{ item?.startDate }}</li>

                    <li><strong>End Date</strong> : {{ item?.endDate }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="skill-history">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Skill</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ul *ngFor="let item of candidateViewData?.skills">
                    <li><strong>Skill Name</strong> : {{ item?.skillName }}</li>
                    <li>
                      <strong>proficiency Level</strong> :
                      {{ item?.proficiencyLevel }}
                    </li>
                    <li>
                      <strong>Year of Experience</strong> :
                      {{ item?.noOfYears }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="question">
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Questions & Answers</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ul *ngFor="let item of candidateViewData?.questionAnswers">
                    <li>
                      <strong>Question</strong> :
                      {{ item?.questionOption?.description }}
                    </li>

                    <ng-container
                      *ngIf="item.questionOption.questionType === 'DROPDOWN'"
                      ><li *ngFor="let item of item.questionOption.options">
                        <strong>Answer</strong> : {{ item?.description }}
                      </li>
                    </ng-container>

                    <ng-container
                      *ngIf="item?.questionOption?.questionType === 'TEXT'"
                      ><li><strong>Answer</strong> : {{ item?.answer }}</li>
                    </ng-container>

                    <ng-container
                      *ngIf="item?.questionOption?.questionType === 'DATE'"
                      ><li><strong>Answer</strong> : {{ item?.answer }}</li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="action-btn">
        <div class="resume-btn">
          <button *ngIf="candidateViewData?.resume">
            <a
              [href]="candidateViewData.resume"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"
                />
              </svg>
              Resume
            </a>
          </button>
        </div>
        <div class="coverLetter-btn">
          <button *ngIf="candidateViewData?.coverLetter">
            <a
              [href]="candidateViewData.coverLetter"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"
                />
              </svg>
              Cover letter
            </a>
          </button>
        </div>

        <div class="interview-btn">
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
            Call for interwiew
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
