.signup-container {
  background-image: url("../../../assets/image/Desktop-bg.png");
  background-color: #91e5a8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  .logo {
    padding: 20px 130px;
    img {
      width: 120px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    gap: 130px;
    color: #fbfbfb;
    padding-top: 40px;
    .image-wrapper {
      img {
        width: 360px;
      }
    }
    form {
      max-width: 400px;
      width: 100%;
      h2 {
        font-size: 35px;
        line-height: 1.2;
      }

      .form-group {
        margin-top: 16px;
        margin-bottom: 15px;
        position: relative;
        input {
          background-color: white;
          border-radius: 5px;
          padding: 13px 15px;
          color: #474747;
          width: 100%;
          outline: none;
          border: none;
          font-size: 14px;
          ::placeholder {
            font-size: 14px;
          }
        }

        .phone {
          display: flex;
          input {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          .btn {
            background-color: white;
            padding: 10px;
            text-align: center;
            border-right: 1px solid #ddd;
            outline: none;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            color: #474747;
            font-size: 14px;
            display: flex;
            align-items: center;
            cursor: default !important;
            gap: 5px;
            svg {
              width: 10px;
              margin: 0px 5px;
            }
          }
          :hover {
            background-color: white !important;
          }
        }
        .icon {
          position: absolute;
          top: 10px;
          right: 1px;
          color: #6d6d6d;
          cursor: pointer;

          svg {
            width: 16px;
            position: absolute;
            right: 16px;
            top: 5px;
          }
        }
        .error {
          border: 1px solid rgb(251 9 32) !important;
        }
        small {
          color: rgb(251 9 32);
          margin-top: 5px;
          font-weight: 500;
        }
      }
      .file-upload {
        input {
          display: none;
        }
        label {
          background-color: white;
          border-radius: 5px;
          padding: 13px 15px;
          color: #474747;
          width: 100%;
          border: none;
          font-size: 14px;
        }
      }
      .file-wrapper__doc {
        display: flex;
        width: 100% !important;
        width: fit-content;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        padding: 13px 15px;
        height: 45px;
        font-size: 14px;
        gap: 10px;
        flex-shrink: 0;
        background-color: white;
        color: #333333d7;
        margin: 10px 0px;
        svg {
          width: 20px;
          height: 20px;
        }
        span {
          font-weight: 500;
        }
        .file {
          color: #28a745;
        }
        .cancel {
          color: red;
          cursor: pointer;
        }
      }

      .check-group {
        margin-bottom: 10px;
        span {
          font-size: 14px;
          color: #fbfbfb;
        }
        small {
          color: rgb(251 9 32);
          margin-top: 5px;
          font-weight: 500;
        }
        input[type="checkbox"] {
          width: 14px;
          height: 14px;
          border: 1px solid #f9f9f9;
          border-radius: 2px;
          display: inline-block;
          position: relative;
          cursor: pointer;
          margin: 0px 10px;
        }

        input[type="checkbox"]:checked {
          accent-color: white;
        }
        .term {
          text-transform: uppercase;
          font-size: 14px;
          text-decoration: none;
          color: #333333e1;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .submit-btn {
        border-radius: 50px;
        border: none;
        color: white;
        background-color: #144721;
        padding: 12px;
        text-align: center;
        font-weight: 400;
        margin: 10px 0px;
        width: 100%;

        &:hover,
        &:focus {
          box-shadow: #0000004d 0 2px 6px;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
