.user-corporate {
  margin-bottom: 140px;
  padding: 2rem 1.5rem;
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      display: flex;
      gap: 15px;
      margin-bottom: 20px;
      h2 {
        font-weight: 600;
        font-size: 23px;
      }
      svg {
        width: 20px;
        height: 20px;
      }
      .nav-back {
        background-color: white;
        border-radius: 50px;
        padding: 3px 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        box-shadow: #0000004d 0 2px 6px;
      }
      p {
        font-size: 14px;
      }
    }
    .job-url {
      background-color: rgb(151 223 151 / 62%);
      border-radius: 25px;
      padding: 5px 10px;
      font-size: 14px;
      height: 35px;
      display: flex;
      gap: 10px;
      margin-right: 100px;
      cursor: pointer;

      svg {
        width: 15px;
        height: 15px;
        margin: 3px;
      }
    }
  }
  .content {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;

    form {
      margin-top: 20px;
      .form-group {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;
        margin: 15px 0px;
        label {
          font-size: 13px;
          color: #484747;
        }
        input {
          color: #6d6d6d;
          padding: 10px 10px;
          height: 50px;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: 1px solid #dddd;
          border-radius: 5px;
          margin-top: 3px;
        }
      }

      .file-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        gap: 30px;
        label {
          font-size: 13px;
          color: #484747;
        }
        .file-wrapper_content {
          border: 1px solid #dddd;

          padding: 20px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          gap: 10px;
          cursor: pointer;
          margin-top: 8px;
          .file-bg {
            background-color: #f8f9fd;
            color: #28a745;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            svg {
              width: 20px;
              height: 20px;
            }
            .file {
              color: #28a745;
            }
          }
          .file-info {
            font-size: 14px;
            text-align: center;
          }
          .visually-hidden {
            display: none;
          }
        }
        .loader-bg {
          background-color: #eeeeee7d;
        }

        .file-wrapper__doc {
          display: flex;
          min-width: 150px;
          max-width: auto;
          width: fit-content;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          padding: 5px;
          height: 45px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          font-size: 14px;
          gap: 10px;
          flex-shrink: 0;
          margin-top: 5px;
          svg {
            width: 20px;
            height: 20px;
          }
          span {
            font-weight: 500;
          }
          .file {
            color: #28a745;
          }
          .cancel {
            color: red;
            cursor: pointer;
          }
        }
      }
      .submit-btn {
        background-color: #28a745;
        color: white;
        border-radius: 25px;
        box-shadow: none;
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0;
        min-width: 100px;
        padding: 0.75rem 1rem;
        text-align: center;
        border: none;
        margin-right: 20px;
        margin-bottom: 10px;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
          background-color: #28a745;
          color: white;
          outline: none;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }

      .mini-loader-spinner {
        border: 3px solid white;
        border-color: white transparent white white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        animation: spin 0.5s linear infinite;
        cursor: not-allowed;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
