<div *ngIf="isLoading | async" class="progress-bar"></div>
<div class="apply-container">
  <form>
    <mat-horizontal-stepper>
      <!-- personal-information -->
      <mat-step [stepControl]="personalFormGroup">
        <form action="" [formGroup]="personalFormGroup">
          <div class="apply-flow-block__header">
            <h2 class="apply-flow-block__title">Import your profile</h2>
            <p>You can import your information.</p>
            <div class="apply-flow-profile-import__awli-content">
              <button class="linkedin-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M20.12 2H3.88A1.88 1.88 0 002 3.88v16.24A1.88 1.88 0 003.88 22h16.24A1.88 1.88 0 0022 20.12V3.88A1.88 1.88 0 0020.12 2zM8 19H5v-9h3zM6.5 8.31A1.81 1.81 0 118.31 6.5 1.82 1.82 0 016.5 8.31zM19 19h-3v-4.25c0-1.44-.64-1.87-1.45-1.87-1.07 0-1.55.73-1.55 2.12v4h-3v-9h2.75v1.12a3.4 3.4 0 012.76-1.24c2.26 0 3.45 1.26 3.45 3.87z"
                  ></path>
                </svg>
                <span>Apply With LinkedIn</span>
              </button>
            </div>
          </div>

          <div class="contact-info">
            <div class="contact-info__header">
              <h2 class="contact-info-header__title">Contact Information</h2>
              <p>Please enter your contact information.</p>
            </div>
            <div class="form-group">
              <label for="firstName">First Name * </label>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="firstName"
                  required
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name * </label>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="lastName"
                  required
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="email">Email * </label>
              <mat-form-field>
                <input matInput type="email" formControlName="email" required />
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="phone">Phone * </label>
              <mat-form-field>
                <input matInput type="text" formControlName="phone" required />
              </mat-form-field>
            </div>
          </div>

          <div class="address-info">
            <div class="address-info-header">
              <h2 class="address-info-header__title">Address</h2>
              <p>Please enter your home address.</p>
            </div>
            <div class="form-group">
              <label for="countryName">Country Name * </label>
              <mat-form-field appearance="fill">
                <mat-select
                  formControlName="countryName"
                  panelClass="custom-dropdown"
                  disableRipple
                  required
                >
                  <mat-option value="Nigeria"> Nigeria </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="state">State * </label>
              <mat-form-field appearance="fill">
                <mat-select
                  formControlName="state"
                  panelClass="custom-dropdown"
                  disableRipple
                  required
                >
                  <mat-option
                    *ngFor="let state of nigeriaStates"
                    [value]="state"
                  >
                    {{ state }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="city">City* </label>
              <mat-form-field>
                <input matInput type="text" formControlName="city" />
              </mat-form-field>
            </div>

            <div class="form-group">
              <label for="address">Home Address * </label>
              <mat-form-field>
                <input matInput type="text" formControlName="address" />
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="page-btn">
          <button class="next" mat-button matStepperNext type="button">
            Next
          </button>
        </div>
      </mat-step>

      <!-- work and experience -->
      <mat-step [stepControl]="workFormGroup">
        <div class="work-info">
          <div class="work-info__header">
            <h2 class="work-info-header__title">Work and Education History</h2>
            <p>
              Please enter details about your work experience and education.
            </p>
          </div>
          <div class="content">
            <form action="" [formGroup]="workFormGroup">
              <div class="work-history">
                <h4 class="fs-5">Work history</h4>
                <div class="job-divider"></div>
                <div class="work-history-list" *ngIf="workHistories.length">
                  <ul class="mb-4 mt-4">
                    <li
                      class="item"
                      *ngFor="let work of workHistories; let i = index"
                    >
                      <strong>{{ work.jobTitle }}</strong> at
                      {{ work.companyName }} ({{ formatDate(work.startDate) }} -
                      {{ formatDate(work.endDate) }})
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                        (click)="removeWorkHistory(i)"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18 18 6M6 6l12 12"
                        />
                      </svg>
                    </li>
                  </ul>
                </div>
                <button
                  class="work-history-btn mb-3"
                  data-bs-toggle="modal"
                  data-bs-target="#addWorkHistory"
                >
                  + Add Work History
                </button>

                <div
                  class="modal fade"
                  id="addWorkHistory"
                  tabindex="-1"
                  aria-labelledby="modalLabel"
                  aria-hidden="true"
                  (hidden.bs.modal)="resetWorkHistoryForm()"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span>
                          <h5 class="modal-title">Add Work History</h5>
                        </span>

                        <span
                          class="close-btn"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                          (click)="resetWorkHistoryForm()"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            style="width: 20px"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="companyName">Company Name *</label>
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="companyName"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <label for="JobTitle">JobTitle *</label>
                          <mat-form-field>
                            <input
                              matInput
                              type="text"
                              formControlName="jobTitle"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <div class="form-group col">
                            <label for="startDate">Start Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="workStartDatePicker"
                                formControlName="startDate"
                                readonly
                              />
                              <mat-datepicker-toggle
                                matIconSuffix
                                [for]="workStartDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #workStartDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearWorkSelect(
                                    $event,
                                    'startDate',
                                    workStartDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="form-group col">
                            <label for="endDate">End Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="workEndDatePicker"
                                formControlName="endDate"
                                required
                                readonly
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="workEndDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #workEndDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearWorkSelect(
                                    $event,
                                    'endDate',
                                    workEndDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="jobDescription">Job Description *</label>

                          <textarea
                            type="text"
                            formControlName="jobDescription"
                            required
                            rows="10"
                            style="
                              border-radius: 5px;
                              padding: 10px;
                              resize: vertical;
                            "
                          ></textarea>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-cancel"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          Close
                        </button>
                        <button
                          type="button"
                          class="btn btn-submit"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                          (click)="addWorkHistory()"
                        >
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form [formGroup]="educationFormGroup">
              <div class="education-history">
                <h4 class="fs-5">Education history</h4>
                <div class="job-divider"></div>
                <div
                  class="education-history-list"
                  *ngIf="educationHistories.length"
                >
                  <ul class="mb-4 mt-4">
                    <li
                      class="item"
                      *ngFor="
                        let education of educationHistories;
                        let i = index
                      "
                    >
                      <strong>{{ education.educationLevel }}</strong> at
                      {{ education.institutionName }} ({{
                        formatDate(education.startDate)
                      }}
                      - {{ formatDate(education.endDate) }})
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                        (click)="removeEducationHistory(i)"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18 18 6M6 6l12 12"
                        />
                      </svg>
                    </li>
                  </ul>
                </div>
                <button
                  class="education-history-btn mb-3"
                  data-bs-toggle="modal"
                  data-bs-target="#addEducationHistory"
                >
                  + Add Eduction
                </button>

                <div
                  class="modal fade"
                  id="addEducationHistory"
                  tabindex="-1"
                  aria-labelledby="modalLabel"
                  aria-hidden="true"
                  (hidden.bs.modal)="resetEducationHistoryForm()"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span>
                          <h5 class="modal-title">Add Education</h5>
                        </span>

                        <span
                          class="close-btn"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                          (click)="resetEducationHistoryForm()"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            style="width: 20px"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      </div>

                      <div class="modal-body">
                        <div class="form-group">
                          <label for="degree">Degree *</label>
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="degree"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <label for="major">Major *</label>
                          <mat-form-field>
                            <input
                              matInput
                              type="text"
                              formControlName="major"
                              required
                            />
                          </mat-form-field>
                        </div>

                        <div class="form-group">
                          <label for="institutionName"
                            >Institution Name *</label
                          >
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="institutionName"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <div class="form-group col">
                            <label for="startDate">Start Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="educationStartDatePicker"
                                formControlName="startDate"
                                readonly
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="educationStartDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #educationStartDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearEductionSelect(
                                    $event,
                                    'startDate',
                                    educationStartDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="form-group col">
                            <label for="endDate">End Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="eductionEndDatePicker"
                                formControlName="endDate"
                                required
                                readonly
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="eductionEndDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #eductionEndDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearEductionSelect(
                                    $event,
                                    'endDate',
                                    eductionEndDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="fieldOfStudy">Field of Study *</label>
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="fieldOfStudy"
                              required
                            />
                          </mat-form-field>
                        </div>

                        <div class="form-group">
                          <label for="educationLevel">Education Level *</label>
                          <mat-form-field appearance="fill">
                            <mat-select
                              formControlName="educationLevel"
                              required
                            >
                              <mat-option
                                *ngFor="let level of educationLevels"
                                [value]="level"
                              >
                                {{ level }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-cancel"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          Close
                        </button>
                        <button
                          type="button"
                          class="btn btn-submit"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                          (click)="addEducationHistory()"
                        >
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form action="" [formGroup]="skillFormGroup">
              <div class="skills-info">
                <div class="skills-info-content">
                  <h4 class="fs-5">Skills</h4>
                  <div class="job-divider"></div>
                  <div class="skill-history-list" *ngIf="skillHisories.length">
                    <ul class="mb-4 mt-4">
                      <li
                        class="item"
                        *ngFor="let skill of skillHisories; let i = index"
                      >
                        <strong>{{ skill.skillName }}</strong>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-6"
                          (click)="removeSkills(i)"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"
                          />
                        </svg>
                      </li>
                    </ul>
                  </div>

                  <div
                    class="modal fade"
                    id="addSkill"
                    tabindex="-1"
                    aria-labelledby="modalLabel"
                    aria-hidden="true"
                    (hidden.bs.modal)="resetSkillForm()"
                  >
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span>
                            <h5 class="modal-title">Add Skill</h5>
                          </span>

                          <span
                            class="close-btn"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            (click)="resetSkillForm()"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              fill="currentColor"
                              class="size-6"
                              style="width: 20px"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                                clip-rule="evenodd"
                              />
                            </svg>
                          </span>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="JobTitle">Skill Name *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                type="text"
                                formControlName="skillName"
                                required
                              />
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <label for="JobTitle">Proficiency Level *</label>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                formControlName="proficiencyLevel"
                                required
                              />
                            </mat-form-field>
                          </div>

                          <div class="form-group">
                            <label for="yearsOfExperience"
                              >Years Of Experience *</label
                            >
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                formControlName="yearsOfExperience"
                                required
                              />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-cancel"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            Close
                          </button>
                          <button
                            type="button"
                            class="btn btn-submit"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            (click)="addSkillHistory()"
                          >
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button
                      class="skills-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#addSkill"
                    >
                      + Add skills
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="page-btn">
          <button class="prev" mat-button matStepperPrevious type="button">
            Back
          </button>
          <button class="next" mat-button matStepperNext type="button">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step>
        <form action="" [formGroup]="supportingFormGroup">
          <div class="supporting-doc">
            <div class="supporting-doc__header">
              <h2 class="supporting-doc__title">Supporting Documents</h2>
              <p>Please add any additional documents</p>
            </div>
            <div class="supporting-doc__content">
              <div>
                <div>
                  <button
                    class="supporting-btn"
                    type="button"
                    [disabled]="selectedResumeFile"
                    (click)="triggerFileInput()"
                  >
                    <span> UPLOAD RESUME</span></button
                  ><label class="visually-hidden" for="resume"
                    >UPLOAD RESUME/CV</label
                  ><input
                    #resumeInput
                    id="resumeInput"
                    class="visually-hidden"
                    type="file"
                    accept=".pdf,.doc,.docx"
                    (change)="onFileChange($event)"
                  />
                </div>
                <div
                  style="margin: 10px 0px"
                  [style.visibility]="selectedResumeFile ? 'visible' : 'hidden'"
                >
                  <span
                    style="
                      display: flex;
                      justify-content: space-around;
                      align-items: center;
                    "
                  >
                    <span style="color: black"
                      >{{ selectedResumeFile | slice : 0 : 20 }}...</span
                    >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                      style="width: 20px; height: 20px"
                      (click)="handleRemoveResumeFile()"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                      />
                    </svg>
                  </span>
                </div>
              </div>

              <div>
                <div>
                  <button
                    class="supporting-btn"
                    type="button"
                    [disabled]="selectedCoverLetterFile"
                    (click)="triggerCoverInput()"
                  >
                    <span>ADD COVER LETTER</span></button
                  ><label class="visually-hidden" for="coverletter"
                    >ADD COVER LETTER<</label
                  ><input
                    #coverInput
                    id="coverLetter"
                    class="visually-hidden"
                    type="file"
                    accept=".pdf,.doc,.docx,.txt,.rtf"
                    (change)="onCoverLetterFileChange($event)"
                    accept=".pdf,.doc,.docx"
                  />
                </div>

                <div
                  style="margin: 10px 0px"
                  [style.visibility]="
                    selectedCoverLetterFile ? 'visible' : 'hidden'
                  "
                >
                  <span
                    style="
                      display: flex;
                      justify-content: space-around;
                      align-items: center;
                    "
                  >
                    <span style="color: black"
                      >{{ selectedCoverLetterFile | slice : 0 : 20 }}...</span
                    >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                      style="width: 20px; height: 20px"
                      (click)="handleRemoveCoverLetter()"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <ng-container *ngIf="data?.questionOptions?.length">
          <div class="questions">
            <div class="question-header">
              <h2 class="question-header__title">Application Questions</h2>
              <p>Please answer the following questions.</p>
            </div>
            <div class="question-content">
              <form action="" [formGroup]="questionsFormGroup">
                <div *ngFor="let item of data?.questionOptions" class="group">
                  <label for="question">{{ item.description }}</label>
                  <mat-form-field>
                    <input
                      *ngIf="item.questionType === 'TEXT'"
                      matInput
                      [formControlName]="item.id"
                    />

                    <input
                      *ngIf="item.questionType === 'DATE'"
                      matInput
                      [formControlName]="item.id"
                      [matDatepicker]="picker"
                      readonly
                    />
                    <mat-datepicker-toggle
                      *ngIf="item.questionType === 'DATE'"
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <mat-select
                      *ngIf="item.questionType === 'DROPDOWN'"
                      [formControlName]="item.id"
                    >
                      <mat-option
                        *ngFor="let option of item.options"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </div>
        </ng-container>

        <div class="supporting-page-btn">
          <button
            class="prev"
            mat-button
            matStepperPrevious
            type="button"
            [disabled]="isSubmitting"
          >
            Back
          </button>
          <button
            type="submit"
            [disabled]="isSubmitting"
            class="submit-btn"
            type="submit"
            mat-button
            (click)="onSubmit()"
          >
            <ng-container *ngIf="isSubmitting; else showLoader">
              <span>Processing...</span>
            </ng-container>
            <ng-template #showLoader>
              <span>Submit</span>
            </ng-template>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
