.apply-container {
  ::ng-deep .mat-stepper-horizontal {
    width: 70%;
    margin: 0px auto;
  }

  form {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    p {
      font-size: 14px;
    }
    .apply-flow-block__header {
      padding-bottom: 30px;
      .apply-flow-block__title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-transform: inherit;
        line-height: 115%;
        display: flex;
        align-items: center;
        color: #202020;
      }
    }
    .apply-flow-profile-import__awli-content {
      text-align: center;
      background-color: #f1f1f145;
      border: 1px solid #dddd;
      border-radius: 5px;
      padding-bottom: 30px;
      border-radius: 5px;
      .linkedin-btn {
        padding: 0.5rem 2rem;
        border-radius: 50px;
        text-decoration: none;
        line-height: 1.5rem;
        max-width: 100%;
        font-size: 1rem;
        text-align: center;
        gap: 5px;
        display: flex;
        align-items: center;
        margin: 20px auto;
        border: none;
        font-weight: 600;
        cursor: pointer;
        background-color: rgb(8, 8, 216);
        color: #ffffff;
        outline: none;
      }
    }
    .contact-info__header {
      padding-bottom: 5px;
      .contact-info-header__title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-transform: inherit;
        line-height: 115%;
        display: flex;
        align-items: center;
        color: #202020;
      }
    }
    .address-info-header {
      padding-bottom: 5px;
      padding-top: 10px;
      .address-info-header__title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-transform: inherit;
        line-height: 115%;
        display: flex;
        align-items: center;

        color: #202020;
      }
    }

    .form-group {
      font-size: 1.25rem;
      margin: 10px 0px;
      display: flex;
      flex-direction: column;
      input,
      textarea,
      select {
        color: #6d6d6d !important;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border-color: #dddd;
        margin-top: 3px;
      }
      label {
        font-size: 14px;
        color: #484747b5;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .questions {
      margin: 20px 0px;
      .question-header {
        padding-top: 10px;
        margin-left: 60px;
        .question-header__title {
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          text-transform: inherit;
          line-height: 115%;
          color: #202020;
        }
      }
      .question-content {
        margin: 40px 0px;
        .group {
          margin: 30px 0px;
          textArea {
            color: #6d6d6d !important;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            border-color: #dddd;
            margin-top: 10px;
            border-radius: 5px;
          }
        }
        form {
          margin-top: 10px !important;
          font-size: 14px;
          color: #484747b5;
          font-weight: 500;
          margin-bottom: 5px;
        }
      }
    }
    .work-info {
      margin: 40px 0px;
      .work-info__header {
        padding-top: 10px;
        margin-left: 55px;
        margin-top: 10px;
        .work-info-header__title {
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          text-transform: inherit;
          line-height: 115%;
          color: #202020;
        }
        ::ng-deep .mat-mdc-form-field {
          display: block !important;
          margin-left: 5px;
          margin-top: 10px;
        }
      }
      .content {
        margin: 10px 0px;
      }
      .work-history-list {
        background-color: #eeeded29;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        ul {
          list-style: none;
          .item {
            padding: 10px;
            border-bottom: 1px solid #cccccc4d;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .item:last-child {
            border-bottom: none;
          }
          svg {
            width: 20px;
            height: 20px;
            color: #a3a3a3;
            float: right;
            cursor: pointer;
          }
        }
      }
      .work-history-btn {
        cursor: pointer;
        margin: 20px 0px;
        border: 1px solid #28a745;
        border-radius: 25px;
        padding: 10px 15px;
        background: transparent;
        color: #28a745;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
        }
      }
    }

    .education-history {
      margin: 20px 0px;
      .group {
        margin: 20px 0px;
        display: flex !important;
        flex-direction: column;
        label {
          font-size: 14px;
          color: #484747b5;
          font-weight: 500;
        }
      }
      .education-history-list {
        background-color: #eeeded29;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        ul {
          list-style: none;
          .item {
            padding: 10px;
            border-bottom: 1px solid #cccccc4d;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .item:last-child {
            border-bottom: none;
          }
          svg {
            width: 20px;
            height: 20px;
            color: #a3a3a3;
            float: right;
            cursor: pointer;
          }
        }
      }
      .education-history-btn {
        cursor: pointer;
        margin: 20px 0px;
        border: 1px solid #28a745;
        border-radius: 25px;
        padding: 10px 15px;
        background: transparent;
        color: #28a745;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
        }
      }
    }
    .skills-info {
      margin: 20px 0px;
      .skills-info__header {
        padding-top: 10px;
        margin-left: 45px;
        margin-top: 10px;
        ::ng-deep .mat-mdc-form-field {
          display: block !important;
          margin-left: 5px;
          margin-top: 10px;
        }
      }
      .skills-info-content {
        margin: 10px 0px;
        .skill-history-list {
          background-color: #eeeded29;
          margin-top: 20px;
          width: 100%;
          margin-bottom: 20px;
          border-radius: 5px;
          ul {
            list-style: none;
            .item {
              padding: 10px;
              border-bottom: 1px solid #cccccc4d;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            .item:last-child {
              border-bottom: none;
            }
            svg {
              width: 20px;
              height: 20px;
              color: #a3a3a3;
              float: right;
              cursor: pointer;
            }
          }
        }

        .skills-btn {
          cursor: pointer;
          margin: 20px 0px;
          border: 1px solid #28a745;
          border-radius: 25px;
          padding: 10px 15px;
          background: transparent;
          color: #28a745;
          &:hover,
          :focus {
            box-shadow: #0000004d 0 2px 6px;
          }
        }
      }
    }
    .supporting-doc {
      margin: 40px 0px;
      .supporting-doc__header {
        padding-top: 10px;
        margin-top: 10px;
        .supporting-doc__title {
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          text-transform: inherit;
          line-height: 115%;
          color: #202020;
        }
      }
      .supporting-doc__content {
        display: flex;
        gap: 20px;

        .supporting-upload-file {
          min-width: 300px;
          max-width: 300px;
          width: fit-content;
          padding: 10px;
          background-color: white;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          color: white;
          border: none;
          height: 50px;
          font-weight: 600;
          font-size: 14px;
          span {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;
            margin-top: 60px;
            svg {
              width: 50px;
              height: 50px;
              color: #28a745;
              margin: 0px auto;
            }
            button {
              margin-top: 80px;
              bottom: 0;
              outline: none;
              background: transparent;
              border: none;
            }
          }
        }
        .supporting-btn {
          min-width: 300px;
          max-width: 300px;
          width: fit-content;
          padding: 10px;
          background-color: white;
          color: #28a745;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border: none;
          height: 50px;
          margin-top: 20px;
          font-weight: 600;
          font-size: 14px;

          svg {
            width: 50px;
            height: 50px;
            color: #28a745;
          }
          &:hover,
          :focus {
            box-shadow: #0000004d 0 2px 6px;
          }
        }
      }
    }
    .job-divider {
      border: 0;
      border-bottom: 1px solid #c9c8c8;
      margin-top: 10px;
    }

    .supporting-page-btn {
      display: inline-flex;
      gap: 20px;
      align-items: center;
      margin-left: 50px;
      .prev {
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 50px;
        text-decoration: none;
        line-height: 1.5rem;
        max-width: 100%;
        font-size: 1rem;
        text-align: center;
        margin: 20px auto;
        border: none;
        font-weight: 600;
        cursor: pointer;
        background-color: #eeeeee;
        color: #333333;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
          background-color: #dddddd;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
      .submit-btn {
        background-color: #28a745 !important;
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 25px;
        text-decoration: none;
        line-height: 1.5rem;
        font-size: 1rem;
        text-align: center;
        margin: 20px auto;
        border: none;
        font-weight: 600;
        cursor: pointer;
        color: #ffffff;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
    .page-btn {
      display: inline-flex;
      gap: 20px;
      align-items: center;
      margin-left: 40px;
      .prev {
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 50px;
        text-decoration: none;
        line-height: 1.5rem;
        max-width: 100%;
        font-size: 1rem;
        text-align: center;
        margin: 20px auto;
        border: none;
        font-weight: 600;
        cursor: pointer;
        background-color: #eeeeee;
        color: #333333;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
          background-color: #dddddd;
        }
      }
      .next {
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 50px;
        text-decoration: none;
        line-height: 1.5rem;
        max-width: 100%;
        font-size: 1rem;
        text-align: center;
        margin: 20px auto;
        border: none;
        font-weight: 600;
        cursor: pointer;
        background-color: #28a745;
        color: white;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
        }
      }
    }

    .file-upload__wrapper {
      display: flex;
      align-items: center;
      padding-top: 0.25rem;
      gap: 10px;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 10px;
      .button-container {
        max-width: 300px;
        width: 100%;
        .secondary-button button {
          color: #28a745;
          border: 1px solid #28a745;
          background-color: transparent;
          width: 100%;
          max-width: 300px;
          margin-bottom: 8px;
          &:focus {
            filter: brightness(60%);
            background-color: transparent;
          }
          .visually-hidden {
            position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            padding: 0 !important;
            margin: -1px !important;
            overflow: hidden !important;
            clip: rect(0, 0, 0, 0) !important;
            white-space: nowrap !important;
            border: 0 !important;
          }
        }
        .accept-message {
          margin-top: 5px;
          font-size: 13px;
        }
      }
    }
    .btn {
      padding: 10px 2.5rem;
      border-radius: 50px;
      text-decoration: none;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      line-height: 1.5rem;
      max-width: 100%;
      font-size: 1rem;
      text-align: center;
      cursor: pointer;
      color: black;
      font-weight: 500;
    }
    .btn-cancel {
      background-color: #eeee;
      &:hover,
      :focus {
        box-shadow: #0000004d 0 2px 6px;
        background-color: #f1f1f1;
        color: black;
        outline: none;
      }
    }
    .btn-submit {
      background-color: #28a745;
      color: white;
      &:hover,
      :focus {
        box-shadow: #0000004d 0 2px 6px;
        background-color: #28a745;
        color: white;
        outline: none;
      }
    }
    .job-question {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      ::ng-deep .mat-mdc-form-field {
        display: block;
      }

      .question-text-input input {
        color: #6d6d6d;
        padding: 10px 10px;
        height: 50px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin-top: 3px;

        &:focus {
          border: 1px solid #28a745;
        }
      }
      label {
        font-size: 14px;
        color: #484747;
        margin: 5px 0px;
        font-weight: 500;
      }
    }
    small {
      color: rgba(216, 5, 5, 0.89);
      font-size: 14px;
      margin: 5px 0px;
    }
  }
  .modal-footer {
    justify-content: flex-start !important;
  }
  .modal-header {
    justify-content: flex-start !important;
    .btn-close {
      cursor: pointer;
      font-size: 12px;
      margin-right: 10px;
      background-color: #eee;
      border-radius: 100%;
    }
  }
}
.close-btn {
  cursor: pointer;
  font-size: 12px;
  background-color: #28a745;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  margin: calc(-0.5 * 1rem) calc(-0.5 * 1rem) calc(-0.5 * 1rem) auto;
  padding: 2px;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #28a745;
  animation: load 1.5s infinite ease-in-out;
  z-index: 20000;
}

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.mat-mdc-form-field-flex:has(.text) {
  height: 150px;
}
