<div *ngIf="isLoading | async" class="progress-bar"></div>
<div class="apply-container">
  <form>
    <mat-horizontal-stepper #stepper [linear]="true">
      <!-- personal-information -->
      <mat-step [stepControl]="personalFormGroup">
        <form action="" [formGroup]="personalFormGroup">
          <div class="apply-flow-block__header">
            <h2 class="apply-flow-block__title">Import your profile</h2>
            <p>You can import your information.</p>
            <div class="apply-flow-profile-import__awli-content">
              <button class="linkedin-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M20.12 2H3.88A1.88 1.88 0 002 3.88v16.24A1.88 1.88 0 003.88 22h16.24A1.88 1.88 0 0022 20.12V3.88A1.88 1.88 0 0020.12 2zM8 19H5v-9h3zM6.5 8.31A1.81 1.81 0 118.31 6.5 1.82 1.82 0 016.5 8.31zM19 19h-3v-4.25c0-1.44-.64-1.87-1.45-1.87-1.07 0-1.55.73-1.55 2.12v4h-3v-9h2.75v1.12a3.4 3.4 0 012.76-1.24c2.26 0 3.45 1.26 3.45 3.87z"
                  ></path>
                </svg>
                <span>Apply With LinkedIn</span>
              </button>
            </div>
          </div>

          <div class="contact-info">
            <div class="contact-info__header">
              <h2 class="contact-info-header__title">Contact Information</h2>
              <p>Please enter your contact information.</p>
            </div>
            <div class="form-group">
              <label for="firstName">First name</label>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="firstName"
                  required
                />
              </mat-form-field>

              <div *ngIf="firstName?.invalid && firstName?.touched">
                <small *ngIf="firstName?.errors?.['required']"
                  >First name is required</small
                >

                <small
                  *ngIf="firstName?.errors?.['minlength'] && !firstName?.errors?.['required'] && firstName?.touched"
                  >First name should be atlest three character</small
                >
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last name</label>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="lastName"
                  required
                />
              </mat-form-field>

              <div *ngIf="lastName?.invalid && lastName?.touched">
                <small *ngIf="lastName?.errors?.['required']"
                  >Last name is required</small
                >

                <small
                  *ngIf="lastName?.errors?.['minlength'] && !lastName?.errors?.['required'] && lastName?.touched"
                  >last name should be atlest three character</small
                >
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <mat-form-field>
                <input matInput type="email" formControlName="email" required />
              </mat-form-field>

              <div *ngIf="email?.invalid && email?.touched">
                <small *ngIf="email?.errors?.['required']"
                  >Email address is required</small
                >

                <small
                  *ngIf="email?.errors?.['invalidEmail'] && !email?.errors?.['required'] && email?.touched"
                  >Email address is invalid
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone number</label>
              <mat-form-field>
                <input matInput type="text" formControlName="phone" required />
              </mat-form-field>
              <div *ngIf="phone?.invalid && phone?.touched">
                <small *ngIf="phone?.errors?.['required']"
                  >Phone number is required</small
                >
                <small
                  *ngIf="phone?.errors?.['invalidPhone'] && !phone?.errors?.['required'] && phone?.touched"
                  >Phone number is invalid</small
                >
              </div>
            </div>
          </div>

          <div class="address-info">
            <div class="address-info-header">
              <h2 class="address-info-header__title">Address</h2>
              <p>Please enter your home address.</p>
            </div>
            <div class="form-group">
              <label for="countryName">Country Name</label>
              <mat-form-field appearance="fill">
                <mat-select
                  formControlName="countryName"
                  panelClass="custom-dropdown"
                  disableRipple
                  required
                >
                  <mat-option value="Nigeria"> Nigeria </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="countryName?.invalid && countryName?.touched">
                <small *ngIf="countryName?.errors?.['required']"
                  >Country name is required</small
                >
              </div>
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <mat-form-field appearance="fill">
                <mat-select
                  formControlName="state"
                  panelClass="custom-dropdown"
                  disableRipple
                  required
                >
                  <mat-option
                    *ngFor="let state of nigeriaStates"
                    [value]="state"
                  >
                    {{ state }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="state?.invalid && state?.touched">
                <small *ngIf="state?.errors?.['required']"
                  >State is required</small
                >
              </div>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <mat-form-field>
                <input matInput type="text" formControlName="city" />
              </mat-form-field>

              <div *ngIf="city?.invalid && city?.touched">
                <small *ngIf="city?.errors?.['required']"
                  >City is required</small
                >
                <small
                  *ngIf="city?.errors?.['minlength'] && !city?.errors?.['required'] && city?.touched"
                  >City should be atlest three character</small
                >
              </div>
            </div>

            <div class="form-group">
              <label for="address">Home Address</label>
              <mat-form-field>
                <input matInput type="text" formControlName="address" />
              </mat-form-field>

              <div *ngIf="address?.invalid && address?.touched">
                <small *ngIf="address?.errors?.['required']"
                  >Home address is required</small
                >
                <small
                  *ngIf="address?.errors?.['minlength'] && !address?.errors?.['required'] && address?.touched"
                  >Address should be atlest three character</small
                >
              </div>
            </div>
          </div>
        </form>
        <div class="page-btn">
          <button
            class="next"
            mat-button
            matStepperNext
            type="button"
            (click)="goToNextStep()"
          >
            Next
          </button>
        </div>
      </mat-step>

      <!-- work and eduction -->
      <mat-step [stepControl]="workEducationAndSkill">
        <div class="work-info">
          <div class="work-info__header">
            <h2 class="work-info-header__title">Work and Education History</h2>
            <p>
              Please enter details about your work experience,education and
              skill.
            </p>
          </div>
          <div class="content">
            <form action="" [formGroup]="workFormGroup">
              <div class="work-history">
                <h4 class="fs-5">Work history</h4>
                <div class="job-divider"></div>
                <div
                  style="
                    color: rgba(216, 5, 5, 0.89);
                    font-size: 14px;
                    margin: 5px 0px;
                  "
                  *ngIf="workErrorMessage"
                >
                  {{ workErrorMessage }}
                </div>

                <div class="work-history-list" *ngIf="workHistories.length">
                  <ul class="mb-4 mt-4">
                    <li
                      #listItem
                      class="item"
                      style="cursor: pointer"
                      *ngFor="let work of workHistories; let i = index"
                      (click)="handleEditWorkHistory(1, i)"
                    >
                      <span>
                        <strong>{{ work.jobTitle }}</strong> at
                        {{ work.companyName }} ({{
                          formatDate(work.startDate)
                        }}
                        - {{ formatDate(work.endDate) }})
                      </span>
                      <span
                        style="display: flex; gap: 10px; align-items: center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                          />
                        </svg>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-6"
                          (click)="removeWorkHistory(i)"
                          #deleteIcon
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"
                          />
                        </svg>
                      </span>
                    </li>
                  </ul>
                </div>
                <button class="work-history-btn mb-3" (click)="openModal(1)">
                  + Add Work History
                </button>

                <div
                  class="modal fade"
                  #modal1
                  id="workHistoryModal"
                  tabindex="-1"
                  aria-labelledby="modalLabel"
                  aria-hidden="true"
                  (hidden.bs.modal)="closeModal(1)"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span>
                          <h5 class="modal-title">
                            <ng-container
                              *ngIf="isEditModalOpen; else showText"
                            >
                              Edit Work History
                            </ng-container>
                            <ng-template #showText>
                              Add Work History
                            </ng-template>
                          </h5>
                        </span>

                        <span class="close-btn" (click)="closeModal(1)">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            style="width: 20px"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="companyName">Company Name *</label>
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="companyName"
                              required
                            />
                          </mat-form-field>

                          <div
                            *ngIf="companyName?.invalid && companyName?.touched"
                          >
                            <small *ngIf="companyName?.errors?.['required']"
                              >Company name is required</small
                            >
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="JobTitle">Job Title *</label>
                          <mat-form-field>
                            <input
                              matInput
                              type="text"
                              formControlName="jobTitle"
                              required
                            />
                          </mat-form-field>

                          <div *ngIf="jobTitle?.invalid && jobTitle?.touched">
                            <small *ngIf="jobTitle?.errors?.['required']"
                              >Job title is required</small
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col">
                            <label for="startDate">Start Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="workStartDatePicker"
                                formControlName="startDate"
                                readonly
                              />
                              <mat-datepicker-toggle
                                matIconSuffix
                                [for]="workStartDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #workStartDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearWorkSelect(
                                    $event,
                                    'startDate',
                                    workStartDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>
                            <div
                              *ngIf="startDate?.invalid && startDate?.touched"
                            >
                              <small *ngIf="startDate?.errors?.['required']"
                                >Start date is required</small
                              >
                            </div>
                          </div>

                          <div class="form-group col">
                            <label for="endDate">End Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="workEndDatePicker"
                                formControlName="endDate"
                                required
                                readonly
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="workEndDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #workEndDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearWorkSelect(
                                    $event,
                                    'endDate',
                                    workEndDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>

                            <div *ngIf="endDate?.invalid && endDate?.touched">
                              <small *ngIf="endDate?.errors?.['required']"
                                >End date is required</small
                              >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="jobDescription">Job Description *</label>

                          <textarea
                            type="text"
                            formControlName="jobDescription"
                            required
                            rows="10"
                            style="
                              border-radius: 5px;
                              padding: 10px;
                              resize: vertical;
                            "
                          ></textarea>

                          <div
                            *ngIf="
                              jobDescription?.invalid && jobDescription?.touched
                            "
                          >
                            <small *ngIf="jobDescription?.errors?.['required']"
                              >Job description is required</small
                            >
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn-cancel"
                          (click)="closeModal(1)"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          class="btn-submit"
                          aria-label="Close"
                          (click)="addWorkHistory(1)"
                        >
                          <ng-container
                            *ngIf="isEditModalOpen; else showBtnText"
                          >
                            update
                          </ng-container>
                          <ng-template #showBtnText>Add </ng-template>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form [formGroup]="educationFormGroup">
              <div class="education-history">
                <h4 class="fs-5">Education history</h4>
                <div class="job-divider"></div>
                <div
                  style="
                    color: rgba(216, 5, 5, 0.89);
                    font-size: 14px;
                    margin: 5px 0px;
                  "
                  *ngIf="educationErrorMessage"
                >
                  {{ educationErrorMessage }}
                </div>

                <div
                  class="education-history-list"
                  *ngIf="educationHistories.length"
                >
                  <ul class="mb-4 mt-4">
                    <li
                      #listItem
                      style="cursor: pointer"
                      class="item"
                      *ngFor="
                        let education of educationHistories;
                        let i = index
                      "
                      (click)="handleEditEducation(2, i)"
                    >
                      <span>
                        <strong>{{ education.educationLevel }}</strong> at
                        {{ education.institutionName }} ({{
                          formatDate(education.startDate)
                        }}
                        - {{ formatDate(education.endDate) }})
                      </span>
                      <span
                        style="display: flex; gap: 10px; align-items: center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                          />
                        </svg>

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-6"
                          (click)="removeEducationHistory(i)"
                          #deleteIcon
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"
                          />
                        </svg>
                      </span>
                    </li>
                  </ul>
                </div>
                <button
                  class="education-history-btn mb-3"
                  (click)="openModal(2)"
                >
                  + Add Education
                </button>

                <div
                  class="modal fade"
                  #modal2
                  id="educationHistoryModal"
                  tabindex="-1"
                  (hidden.bs.modal)="closeModal(2)"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span>
                          <h5 class="modal-title">
                            <ng-container
                              *ngIf="isEditModalOpen; else showEduText"
                            >
                              Edit Education
                            </ng-container>
                            <ng-template #showEduText>
                              Add Education
                            </ng-template>
                          </h5>
                        </span>

                        <span class="close-btn" (click)="closeModal(2)">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="size-6"
                            style="width: 20px"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      </div>

                      <div class="modal-body">
                        <div class="form-group">
                          <label for="degree">Degree *</label>
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="degree"
                              required
                            />
                          </mat-form-field>

                          <div *ngIf="degree?.invalid && degree?.touched">
                            <small *ngIf="degree?.errors?.['required']"
                              >Degree is required</small
                            >
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="major">Major *</label>
                          <mat-form-field>
                            <input
                              matInput
                              type="text"
                              formControlName="major"
                              required
                            />
                          </mat-form-field>
                          <div *ngIf="major?.invalid && major?.touched">
                            <small *ngIf="major?.errors?.['required']"
                              >Major is required</small
                            >
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="institutionName"
                            >Institution Name *</label
                          >
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="institutionName"
                              required
                            />
                          </mat-form-field>

                          <div
                            *ngIf="
                              institutionName?.invalid &&
                              institutionName?.touched
                            "
                          >
                            <small *ngIf="institutionName?.errors?.['required']"
                              >Institution name is required</small
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col">
                            <label for="startDate">Start Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="educationStartDatePicker"
                                formControlName="startDate"
                                readonly
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="educationStartDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #educationStartDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearEductionSelect(
                                    $event,
                                    'startDate',
                                    educationStartDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>

                            <div
                              *ngIf="
                                schoolStartDate?.invalid &&
                                schoolStartDate?.touched
                              "
                            >
                              <small
                                *ngIf="schoolStartDate?.errors?.['required']"
                                >Start date date is required</small
                              >
                            </div>
                          </div>

                          <div class="form-group col">
                            <label for="endDate">End Date *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                monthYearFormat
                                [matDatepicker]="eductionEndDatePicker"
                                formControlName="endDate"
                                required
                                readonly
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="eductionEndDatePicker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #eductionEndDatePicker
                                startView="multi-year"
                                (monthSelected)="
                                  onMonthYearEductionSelect(
                                    $event,
                                    'endDate',
                                    eductionEndDatePicker
                                  )
                                "
                              ></mat-datepicker>
                            </mat-form-field>

                            <div
                              *ngIf="
                                schoolEndDate?.invalid && schoolEndDate?.touched
                              "
                            >
                              <small *ngIf="schoolEndDate?.errors?.['required']"
                                >End date date is required</small
                              >
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="fieldOfStudy">Field of Study *</label>
                          <mat-form-field appearance="fill">
                            <input
                              matInput
                              type="text"
                              formControlName="fieldOfStudy"
                              required
                            />
                          </mat-form-field>

                          <div
                            *ngIf="
                              fieldOfStudy?.invalid && fieldOfStudy?.touched
                            "
                          >
                            <small *ngIf="fieldOfStudy?.errors?.['required']"
                              >Field of study is required</small
                            >
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="educationLevel">Education Level *</label>
                          <mat-form-field appearance="fill">
                            <mat-select
                              formControlName="educationLevel"
                              required
                            >
                              <mat-option
                                *ngFor="let level of educationLevels"
                                [value]="level"
                              >
                                {{ level }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                          <div
                            *ngIf="
                              educationLevel?.invalid && educationLevel?.touched
                            "
                          >
                            <small *ngIf="educationLevel?.errors?.['required']">
                              Education level is required</small
                            >
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn-cancel"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          class="btn-submit"
                          (click)="addEducationHistory(2)"
                        >
                          <ng-container
                            *ngIf="isEditModalOpen; else showBtnText"
                          >
                            Update
                          </ng-container>
                          <ng-template #showText> Add </ng-template>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form action="" [formGroup]="skillFormGroup">
              <div class="skills-info">
                <div class="skills-info-content">
                  <h4 class="fs-5">Skills</h4>
                  <div class="job-divider"></div>
                  <div class="skill-history-list" *ngIf="skillHisories.length">
                    <ul class="mb-4 mt-4">
                      <li
                        style="cursor: pointer"
                        class="item"
                        *ngFor="let skill of skillHisories; let i = index"
                        (click)="handleEditSkill(3, i)"
                        #listItem
                      >
                        <strong>{{ skill.skillName }}</strong>

                        <span
                          style="display: flex; gap: 10px; align-items: center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                            />
                          </svg>

                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                            (click)="removeSkills(i)"
                            #deleteIcon
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18 18 6M6 6l12 12"
                            />
                          </svg>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div>
                    <button class="skills-btn" (click)="openModal(3)">
                      + Add skills
                    </button>
                  </div>

                  <div
                    class="modal fade"
                    #modal3
                    id="skillModal"
                    tabindex="-1"
                    aria-labelledby="modalLabel"
                    aria-hidden="true"
                    (hidden.bs.modal)="closeModal(3)"
                  >
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span>
                            <h5 class="modal-title">
                              <ng-container
                                *ngIf="isEditModalOpen; else showSkillText"
                              >
                                Edit Skill
                              </ng-container>
                              <ng-template #showSkillText>
                                Add skill
                              </ng-template>
                            </h5>
                          </span>

                          <span
                            class="close-btn"
                            aria-label="Close"
                            (click)="closeModal(3)"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              fill="currentColor"
                              class="size-6"
                              style="width: 20px"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                                clip-rule="evenodd"
                              />
                            </svg>
                          </span>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="JobTitle">Skill name *</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                type="text"
                                formControlName="skillName"
                                required
                              />
                            </mat-form-field>
                            <div
                              *ngIf="skillName?.invalid && skillName?.touched"
                            >
                              <small *ngIf="skillName?.errors?.['required']"
                                >Skill name is required</small
                              >
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="JobTitle">Proficiency level *</label>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                formControlName="proficiencyLevel"
                                required
                              />
                            </mat-form-field>
                            <div
                              *ngIf="
                                proficiencyLevel?.invalid &&
                                proficiencyLevel?.touched
                              "
                            >
                              <small
                                *ngIf="proficiencyLevel?.errors?.['required']"
                                >Proficiency level required</small
                              >
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="noOfYears">Years of experience *</label>
                            <mat-form-field>
                              <input
                                matInput
                                type="number"
                                formControlName="noOfYears"
                                required
                                inputmode="numeric"
                                min="0"
                                (keydown)="preventInvalidKeys($event)"
                              />
                            </mat-form-field>
                            <div
                              *ngIf="noOfYears?.invalid && noOfYears?.touched"
                            >
                              <small *ngIf="noOfYears?.errors?.['required']"
                                >Years of experience is required</small
                              >
                            </div>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn-cancel"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            Close
                          </button>
                          <button
                            type="submit"
                            class="btn-submit"
                            (click)="addSkillHistory(3)"
                          >
                            <ng-container
                              *ngIf="isEditModalOpen; else showSkillBtnText"
                            >
                              Update
                            </ng-container>
                            <ng-template #showSkillBtnText> Add </ng-template>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="page-btn">
          <button class="prev" mat-button matStepperPrevious type="button">
            Back
          </button>
          <button
            class="next"
            mat-button
            matStepperNext
            type="button"
            (click)="goToNextStep2()"
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step>
        <form action="" [formGroup]="supportingFormGroup">
          <div class="supporting-doc">
            <div class="supporting-doc__header">
              <h2 class="supporting-doc__title">Supporting Documents</h2>
              <p>Please add any additional documents</p>
            </div>
            <div class="supporting-doc__content">
              <div>
                <div>
                  <button
                    class="supporting-btn"
                    type="button"
                    [disabled]="selectedResumeFile"
                    (click)="triggerFileInput()"
                  >
                    <span> UPLOAD RESUME</span></button
                  ><label class="visually-hidden" for="resume"
                    >UPLOAD RESUME/CV</label
                  ><input
                    #resumeInput
                    id="resumeInput"
                    class="visually-hidden"
                    type="file"
                    accept=".pdf"
                    (change)="onFileChange($event)"
                  />
                </div>
                <div
                  *ngIf="resume?.valid"
                  style="margin: 10px 0px"
                  [style.visibility]="resume?.value ? 'visible' : 'hidden'"
                >
                  <span
                    style="
                      display: flex;
                      justify-content: space-around;
                      align-items: center;
                    "
                  >
                    <span style="color: black"
                      >{{ selectedResumeFile | slice : 0 : 20 }}...</span
                    >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                      style="width: 20px; height: 20px"
                      (click)="handleRemoveResumeFile()"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                      />
                    </svg>
                  </span>
                </div>

                <div *ngIf="resume?.invalid && submitted">
                  <small *ngIf="resume?.errors?.['required']"
                    >Resume is required</small
                  >
                </div>
              </div>

              <div>
                <div>
                  <button
                    class="supporting-btn"
                    type="button"
                    [disabled]="selectedCoverLetterFile"
                    (click)="triggerCoverInput()"
                  >
                    <span>ADD COVER LETTER</span></button
                  ><label class="visually-hidden" for="coverletter"
                    >ADD COVER LETTER<</label
                  ><input
                    #coverInput
                    id="coverLetter"
                    class="visually-hidden"
                    type="file"
                    accept=".pdf"
                    (change)="onCoverLetterFileChange($event)"
                  />
                </div>

                <span
                  *ngIf="coverLetter?.valid"
                  style="margin: 10px 0px"
                  [style.visibility]="coverLetter?.value ? 'visible' : 'hidden'"
                >
                  <span
                    style="
                      display: flex;
                      justify-content: space-around;
                      align-items: center;
                    "
                  >
                    <span style="color: black"
                      >{{ selectedCoverLetterFile | slice : 0 : 20 }}...</span
                    >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                      style="width: 20px; height: 20px"
                      (click)="handleRemoveCoverLetter()"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                      />
                    </svg>
                  </span>
                </span>

                <div *ngIf="coverLetter?.invalid && submitted">
                  <small *ngIf="coverLetter?.errors?.['required']"
                    >Cover letter is required</small
                  >
                </div>
              </div>
            </div>
          </div>
        </form>

        <ng-container *ngIf="questionData?.questionOptions?.length">
          <div class="questions">
            <div class="question-header">
              <h2 class="question-header__title">Application Questions</h2>
              <p>Please answer the following questions.</p>
            </div>

            <div class="question-content">
              <form action="" [formGroup]="questionsFormGroup">
                <div
                  *ngFor="let item of questionData?.questionOptions"
                  class="group"
                >
                  <label for="question">{{ item.description }}</label>
                  <div>
                    <mat-form-field *ngIf="item.questionType === 'TEXT'">
                      <input [formControlName]="item.id" matInput />
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field *ngIf="item.questionType === 'DATE'">
                      <input
                        matInput
                        [formControlName]="item.id"
                        [matDatepicker]="picker"
                        readonly
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field *ngIf="item.questionType === 'DROPDOWN'">
                      <mat-select [formControlName]="item.id">
                        <mat-option
                          *ngFor="let option of item.options"
                          [value]="option.description"
                        >
                          {{ option.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div
                    *ngIf="
                      questionsFormGroup?.get(item.id)?.invalid &&
                      questionsFormGroup?.get(item.id)?.touched
                    "
                  >
                    <small>This field is required</small>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-container>

        <div class="supporting-page-btn">
          <button
            class="prev"
            mat-button
            matStepperPrevious
            type="button"
            [disabled]="isSubmitting"
          >
            Back
          </button>
          <button
            type="submit"
            [disabled]="isSubmitting"
            class="submit-btn"
            type="submit"
            mat-button
            (click)="onSubmit()"
          >
            <ng-container *ngIf="isSubmitting; else showLoader">
              <span>Processing...</span>
            </ng-container>
            <ng-template #showLoader>
              <span>Submit</span>
            </ng-template>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
