.modal-header {
  padding: 10px 40px;
  h5 {
    font-size: 18px !important;
  }

  .close-icon {
    cursor: pointer;
    font-size: 12px;
    background-color: #28a745;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin: calc(-0.5 * 1rem) calc(-0.5 * 1rem) calc(-0.5 * 1rem) auto;
    padding: 2px;
  }
}
.modal-body {
  padding: 30px;
  tbody tr {
    text-align: center;
  }
  tbody tr:nth-child(even) {
    background-color: #f8f9fd;
  }
  tbody tr:nth-child(odd) {
    background-color: white !important;
  }

  .form-group {
    padding: 0px 10px;
    font-size: 14px;
    margin: 0px auto;
    display: flex;
    place-items: center;
    width: 100%;
    label {
      font-weight: 500;
      text-align: center;
    }
  }

  .form-group div {
    background: transparent;
  }

  .form-group div.form-control-static {
    height: 100%;
  }

  .form-group div.control-label {
    border-right: 2px solid #ffffff;
  }
  .form-group:nth-child(odd),
  .form-group.odd {
    background: #fafafa;
  }

  .form-group:nth-child(even),
  .form-group.even {
    background-color: #e0f6e6;
  }
}

.candidate-additional-info {
  margin: 5px 10px;
  .work-history {
    padding: 10px 20px;
    margin-top: 20px 0px;
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .education-history {
    padding: 10px 20px;
    margin-top: 20px 0px;
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .skill-history {
    padding: 10px 20px;
    margin-top: 20px 0px;
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .question {
    padding: 10px 20px;
    margin-top: 20px 0px;
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

.action-btn {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  button {
    border: none;
    padding: 13px 20px;
    border-radius: 25px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    font-size: 14px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }
  a {
    text-decoration: none;
    color: white;
  }
  svg {
    width: 20px !important;
    height: 20px;
  }
}
.hire {
  background-color: #17a2b8;
  border-radius: 25px;
  border: none;
  &:hover {
    background-color: #138496;
  }
}
.mail-btn {
  background-color: #144721;
  border-radius: 25px;
  border: none;
}
.reject {
  background-color: #dc3545;
  border-radius: 25px;
  border: none;
  &:hover {
    background-color: #c82333;
  }
}
.schedule-date {
  background-color: #28a745;
  border-radius: 25px;
  border: none;
  &:hover {
    background-color: #218838;
  }
}
