.list-container {
  padding-top: 20px;
  margin-top: 10px;
  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      display: flex;
      gap: 5px;
      align-items: center;
      span {
        background-color: #97c93c;
        border-radius: 8px;
        display: flex;
        flex-direction: columns;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1.3px 2.6px -0.65px #00000012;
        box-shadow: 0px 2.6px 3.9px -0.65px #0000001f;

        padding: 10px;
        svg {
          width: 20px;
          color: white;
        }
      }
      h4 {
        font-weight: 500;
        font-size: 18px;
        color: #67748e;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .count {
        background-color: #e10000;
        display: inline-block;
        padding: 0 4px;
        min-width: 8px;
        max-width: 18px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: white;
      }
    }
    .action {
      display: flex;
      gap: 10px;
      align-items: center;
      svg {
        width: 20px;
        color: #28a745;
      }
      a {
        color: #232323;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
  .content {
    margin-top: 10px;
    .card-item {
      background-color: white;
      border-radius: 20px;
      padding: 15px 20px;
      margin-top: 20px;
      box-shadow: 0px 36.4px 49.14px 0px #0000000d;
    }
    .item1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 40px;
          border-radius: 10px;
          object-fit: cover;
          border: 1px solid #899bb1;
        }

        .corporate-header {
          line-height: 1.8;
          .job-name {
            font-weight: 500;
            font-size: 16px;
          }
          .corporate-address {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 12px;
            color: #989898;
            .dot {
              width: 4px;
              height: 4px;
              border-radius: 50px;
              background-color: #989898;
            }
          }
        }
      }
      .panel {
        span {
          font-weight: 500;
          line-height: 2;
          margin-top: 5px;
          font-size: 14px;
        }
        .img-container {
          display: flex;
          position: relative;
        }
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 7px;
          border: 2px solid #d9d9d9;
          position: absolute;
          top: 0;
          left: 0;
          transition: transform 0.3s ease-in-out;
        }
        img:nth-child(2) {
          left: 20px;
        }
      }
      .action {
        display: flex;
        gap: 10px;
        align-items: center;
        span {
          background-color: #28a745;
          color: white;
          font-size: 12px;
          font-weight: 500;
          border-radius: 25px;
          padding: 5px 10px;
        }
        .toggle {
          border: 1px solid #d3d3d3;
          padding: 5px;
          border-radius: 10px;
          background-color: transparent;
          cursor: pointer;
          svg {
            color: #299345;
            width: 20px;
          }
        }
      }
    }
    .item2 {
      margin-top: 40px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      strong {
        color: #28a745;
      }

      svg {
        width: 20px;
      }
      .tag-container {
        display: flex;
        gap: 10px;
        align-items: center;
        .tags {
          display: flex;
          gap: 10px;
          align-items: center;
          span {
            font-size: 12px;
            font-weight: 600;
            padding: 4px 10px;
            border-radius: 10px;
            background-color: #e6e6e6;
          }
        }
        .more {
          background-color: #97c93c;
          border-radius: 50px;
          padding: 2px 5px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    span {
      font-size: 14px;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      svg {
        width: 20px;
        height: 20px;
        color: #d3d3d3;
        cursor: pointer;
      }
      .page-btn {
        button {
          border: none;
          border-radius: 5px;
          padding: 3px 10px;
          margin: 0px 10px;
          background-color: #fafafa;
          border: 0.7px solid #d3d3d3;
          cursor: pointer;
        }
        .active {
          background-color: #97c93c;
        }
      }
    }
  }
}
