.layout {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 15.75rem 1fr;
  min-height: 100vh;
}

main {
  background-color: #eef0f4;
  min-height: 100vh;
  padding-bottom: 40px;
}

@media (max-width: 900px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}
