<div
  #myModal
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="resetForm()"
>
  <div class="modal-dialog modal-dialog-centered modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">Sign In</h4>
        <span class="close-icon" data-bs-dismiss="modal" aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            style="width: 20px"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="form" (ngSubmit)="onLogin()">
          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              placeholder="Email addreess"
            />
            <div *ngIf="email?.invalid && email?.touched">
              <small *ngIf="email?.errors?.['required']"
                >Email address is required</small
              >
              <small
                *ngIf="!email?.errors?.['required'] && email?.errors?.['invalidEmail']"
                >Enter a valid email format</small
              >
            </div>
          </div>
          <div>
            <input type="checkbox" value="" formControlName="term" />
            <span style="padding-left: 5px; font-size: 15px" class="mt-2">
              I agree with the
              <span style="font-weight: 600">TERM AND CONDITIONS</span></span
            >
            <div *ngIf="term?.invalid && term?.touched">
              <small class="text-danger" *ngIf="term?.errors?.['required']"
                >Terms field is required</small
              >
            </div>
          </div>

          <button type="submit" class="btn-submit" [disabled]="isSignIn">
            <ng-container *ngIf="isSignIn; else showLoader">
              <span class="mini-loader-spinner"></span>
            </ng-container>
            <ng-template #showLoader>
              <span>SIGN IN</span>
            </ng-template>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
