.job-detail {
  .modal-header {
    padding: 15px 40px;
    .modal-title {
      font-weight: 600;
    }
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    color: #333;
  }
  span {
    font-size: 14px;
  }
  .company-name {
    font-size: 14px;
    padding: 5px 0px;
  }
  .btn-close {
    font-size: 12px !important;
    cursor: pointer;
  }
  .modal-body {
    margin: 20px 0px;
    padding: 10px 40px;
    h2 {
      font-size: 18px !important;
    }
  }

  ::ng-deep .modal-body h2 {
    font-size: 20px;
    font-weight: 500;
  }
  ::ng-deep .modal-body h3 {
    font-size: 18px;
    font-weight: 500;
  }
  ::ng-deep .modal-body ul {
    padding: 5px 10px;
  }
  ::ng-deep .modal-body li {
    padding: 5px 0px;
    font-size: 15px;
  }
  ::ng-deep .modal-body p {
    font-size: 15px;
  }
  ::ng-deep .mat-mdc-form-field {
    display: block;
  }
  ::ng-deep.mdc-text-field--filled.mdc-text-field--invalid:not(
      .mdc-text-field--disabled
    )
    .mdc-floating-label,
  .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: black !important;
  }
  .job-salary,
  .job-type h3 {
    font-size: 18px;
    font-weight: 500;
  }
  .job-type,
  .job-salary {
    margin: 20px 0px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    h3 {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .jobType,
  .salary {
    background-color: #f3f2f1;
    border-radius: 0.25rem;
    color: #595959;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.3125rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.2rem 0.5rem;
    vertical-align: middle;
    max-width: 80%;
  }
  .job-location {
    display: flex;
    gap: 20px;

    h3 {
      font-size: 14px;
      font-weight: 600;
      position: relative;
      top: 5px;
    }
    .location {
      display: flex;
      gap: 5px;
      align-items: center;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .modal-footer {
    justify-content: start !important;
    margin: 20px 0px;
    border-top: none !important;
    .apply-btn {
      background-color: #1c73e8;
      border: 0.0625rem solid #0000;
      border-radius: 0.5rem;
      box-shadow: none;
      color: #fff;
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      word-break: keep-all;
    }
    .close-btn {
      background-color: #eeee;
      border: 0.0625rem solid #0000;
      border-radius: 0.5rem;
      box-shadow: none;
      color: #333;
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.43;
      line-height: 1.125rem;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      word-break: keep-all;
    }
  }
}
