<div
  class="modal fade job-detail"
  id="viewJobModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span>
          <h5 class="modal-title" id="modalLabel">
            {{ selectedJob?.jobTitle }}
          </h5>
          <span class="company-name">{{ selectedJob?.companyName }} </span>
        </span>
        <span class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </span>
      </div>
      <div class="modal-body">
        <div class="job-salary">
          <h3>Job Salary</h3>
          <div class="salary">
            ₦{{ selectedJob?.jobSalary.toLocaleString() }} a month
          </div>
        </div>

        <div class="job-type">
          <h3>Job Type</h3>
          <div class="jobType">
            {{ selectedJob?.jobType | titlecase }}
          </div>
        </div>

        <div class="job-location">
          <h3>Location</h3>
          <span class="location">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                clip-rule="evenodd"
              />
            </svg>
            <span>{{ selectedJob?.jobLocation | titlecase }} </span>
          </span>
        </div>

        <div
          class="job-description mt-4"
          [innerHTML]="selectedJob?.jobDescription"
        ></div>
        <div class="skill">
          <h3>Required Skills</h3>
          <ul>
            <li *ngFor="let skill of selectedJob?.requiredSkills">
              {{ skill.description }}
            </li>
          </ul>
        </div>
        <span>Answer Questions?</span>
        <div *ngFor="let item of selectedJob?.options">
          <mat-form-field>
            <mat-label>{{ item.description }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControl]="availableStartDate"
              [min]="minDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button class="apply-btn" type="submit">Apply Now</button>
          <button
            type="button"
            class="close-btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
