<div
  class="modal fade job-detail"
  id="viewJobModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span>
          <h5 class="modal-title" id="modalLabel">Frontend Developer</h5>
          <span class="company-name"
            >Procept Associates Professional Services Limited | Lagos</span
          >
        </span>
        <span class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </span>
      </div>
      <div class="modal-body">
        <div class="modal-body-text">
          <div class="company-info">
            <h3>Company description</h3>
            <span>
              The Specialist: Operational Excellence (OE) plays a critical role
              in orchestrating cross functional initiatives and enabling
              operational governance expectations within the Technology Fixed
              Line Services (TFLS) domain. Working with both internal and
              external stakeholders, this role will focus on embedding a
              Continuous Improvement (CI) culture through role-modelling the
              principles of Go See, Ask Why and Show Respect.
            </span>
          </div>
          <div class="job-description">
            <h3>Job description</h3>
            <ul>
              <li>
                Develop and implement a CI/CD pipeline using tools like Jenkins,
                GitLab CI/CD, or GitHub Actions
              </li>
              <li>
                Collaborate with DevOps engineers and other team members to
                design, implement, and maintain CI/CD pipelines
              </li>
              <li>
                Monitor and troubleshoot CI/CD pipelines for issues and optimize
                performance
              </li>
              <li>
                Collaborate with other development teams to ensure that CI/CD
                pipelines are aligned with the company's overall strategy
              </li>
              <li>
                Document and maintain the CI/CD pipeline and its configuration
                in version control systems
              </li>
            </ul>
          </div>
          <div class="job-responsibilty">
            <h3>Responsibilities</h3>
            <ul>
              <li>
                Ensure the successful implementation and ongoing operation of
                the CI/CD pipeline
              </li>
              <li>
                Help in troubleshooting and resolving issues related to the
                CI/CD pipeline
              </li>
              <li>
                Provide guidance and support to DevOps engineers and other team
                members in implementing CI/CD pipelines
              </li>
              <li>
                Collaborate with other development teams to ensure that the
                CI/CD pipeline is aligned with the company's overall strategy
              </li>
              <li>
                Document and maintain the CI/CD pipeline and its configuration
                in version control systems
              </li>
            </ul>
          </div>

          <div class="job-qualification">
            <h3>Qualifications</h3>
            <ul>
              <li>
                Bachelor's degree in Computer Science, Software Engineering, or
                a related field
              </li>
              <li>
                Experience with CI/CD tools like Jenkins, GitLab CI/CD, or
                GitHub Actions
              </li>
              <li>Familiarity with Git and version control systems</li>
              <li>Experience with DevOps principles and best practices</li>
              <li>Strong communication and collaboration skills</li>
              <li>
                Knowledge of software development methodologies and agile
                practices
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="apply-btn" type="submit">Apply Now</button>
        <button
          type="button"
          class="close-btn"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
