.dashboard-container {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 2rem 1.5rem;
  h1 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .content {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }
}
