<div *ngIf="isLoading">
  <div class="loader-spinner"></div>
</div>
<section class="dashboard-container">
  <div *ngIf="!isLoading && data">
    <span style="display: flex; gap: 13px" *ngIf="profile$ | async as profile">
      <h1>Hello, {{ profile.personalDetail.firstName }}</h1>
      <erecruit-svg
        style="width: 35px !important"
        [template]="svgTemplate.WELOCOME_ICON"
      ></erecruit-svg>
    </span>
    <div class="content">
      <div style="width: 100%">
        <erecruit-stats [data]="data" />
        <erecruit-job-listing [data]="data" />
      </div>
      <erecruit-interviews [data]="data" />
    </div>
  </div>

  <div class="error" *ngIf="!isLoading && !data">
    <h4>Error occur!</h4>
  </div>
</section>
