<div class="job-container">
  <div class="job-header">
    <span class="nav-back" (click)="onNavigateBack()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </span>
    <h2>{{ mode }}</h2>
  </div>

  <div class="content">
    <form action="" [formGroup]="form">
      <div class="row">
        <div class="col">
          <label for="jobTitle"
            >Job Title <span class="required-icon">*</span></label
          >
          <mat-form-field>
            <input
              type="text"
              matInput
              [matAutocomplete]="title"
              formControlName="jobTitle"
            />
            <mat-autocomplete #title="matAutocomplete">
              <mat-option
                *ngFor="let option of jobTitleOption | async"
                [value]="option?.description"
              >
                <div class="option-container">
                  <div class="option-text">
                    {{ option?.description }}
                  </div>
                  <div class="icon-container">
                    <erecruit-svg
                      style="color: #919295dd"
                      [template]="svgTemplate.EDIT_ICON"
                      (click)="
                        handleEditQuery($event, option?.id, option.description)
                      "
                    >
                    </erecruit-svg>

                    <erecruit-svg
                      style="color: #919295dd"
                      [template]="svgTemplate.DELETE_ICON"
                      (click)="
                        handleDeleteQuery(
                          option?.id,
                          'jobTitle',
                          option.description
                        )
                      "
                    >
                    </erecruit-svg>
                  </div>
                </div>
              </mat-option>

              <mat-option>
                <input
                  placeholder="Type job title press enter"
                  class="addInput"
                  (click)="$event.stopPropagation()"
                  #newJobTitle
                  (keydown.enter)="
                    isEditOpen
                      ? editQueryData($event, newJobTitle.value, 'jobTitle')
                      : addNewQueryData($event, newJobTitle.value, 'jobTitle')
                  "
                  (keydown)="handleKeydown($event)"
                  [value]="selectedValue"
                  autofocus
                />
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div *ngIf="jobTitle?.invalid && isSubmitted">
            <small *ngIf="jobTitle?.errors?.['required']">
              Job title field is required
            </small>

            <small
              *ngIf="jobTitle?.errors?.['minlength'] && !jobTitle?.errors?.['invalidName']"
            >
              Job title must be at least 3 characters long
            </small>
          </div>
        </div>
        <div class="col">
          <label for="jobId">Job Id <span class="required-icon">*</span></label>
          <input
            matInput
            type="text"
            formControlName="jobId"
            autocomplete="off"
          />
          <div *ngIf="jobId?.invalid && isSubmitted">
            <small *ngIf="jobId?.errors?.['required']">
              Job id field is required
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="workmode"
            >Work Mode <span class="required-icon">*</span></label
          >

          <mat-form-field appearance="fill">
            <mat-select
              panelClass="custom-dropdown"
              disableRipple
              id="workMode"
              formControlName="workMode"
            >
              <mat-option *ngFor="let option of workmode" [value]="option.key">
                {{ option.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="workMode?.invalid && isSubmitted">
            <small *ngIf="workMode?.errors?.['required']">
              Work mode field is required
            </small>
          </div>
        </div>

        <div class="col">
          <label for="jobLocation"
            >Job Location <span class="required-icon">*</span></label
          >

          <mat-form-field>
            <input
              type="text"
              matInput
              [matAutocomplete]="location"
              formControlName="jobLocation"
            />
            <mat-autocomplete #location="matAutocomplete">
              <mat-option
                *ngFor="let location of jobLocationOption | async"
                [value]="location.description"
              >
                <div class="option-container">
                  <div class="option-text">
                    {{ location?.description | titlecase }}
                  </div>
                  <div class="icon-container">
                    <erecruit-svg
                      style="color: #919295dd"
                      [template]="svgTemplate.EDIT_ICON"
                      (click)="
                        handleEditQuery(
                          $event,
                          location.id,
                          location.description
                        )
                      "
                    >
                    </erecruit-svg>

                    <erecruit-svg
                      style="color: #919295dd"
                      [template]="svgTemplate.DELETE_ICON"
                      (click)="
                        handleDeleteQuery(
                          location.id,
                          'jobLocation',
                          location.description
                        )
                      "
                    >
                    </erecruit-svg>
                  </div>
                </div>
              </mat-option>
              <mat-option>
                <input
                  placeholder="Type location press enter"
                  class="addInput"
                  #newJobLocation
                  (click)="$event.stopPropagation()"
                  (keydown.enter)="
                    isEditOpen
                      ? editQueryData(
                          $event,
                          newJobLocation.value,
                          'jobLocation'
                        )
                      : addNewQueryData(
                          $event,
                          newJobLocation.value,
                          'jobLocation'
                        )
                  "
                  (keydown)="handleKeydown($event)"
                  [value]="selectedValue"
                  autofocus
                />
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="jobLocation?.invalid && isSubmitted">
            <small *ngIf="jobLocation?.errors?.['required']">
              Job location field is required
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="jobType"
            >Job Type <span class="required-icon">*</span></label
          >

          <mat-form-field>
            <input
              type="text"
              matInput
              [matAutocomplete]="type"
              formControlName="jobType"
            />
            <mat-autocomplete #type="matAutocomplete">
              <mat-option
                *ngFor="let jobType of jobTypeOption | async"
                [value]="jobType.description | titlecase"
              >
                <div class="option-container">
                  <div class="option-text">
                    {{ jobType?.description | titlecase }}
                  </div>
                  <div class="icon-container">
                    <erecruit-svg
                      [template]="svgTemplate.EDIT_ICON"
                      style="color: #919295dd"
                      (click)="
                        handleEditQuery(
                          $event,
                          jobType?.id,
                          jobType.description
                        )
                      "
                    >
                    </erecruit-svg>
                    <erecruit-svg
                      style="color: #919295dd"
                      [template]="svgTemplate.DELETE_ICON"
                      (click)="
                        handleDeleteQuery(
                          jobType?.id,
                          'jobTitle',
                          jobType.description
                        )
                      "
                    >
                    </erecruit-svg>
                  </div>
                </div>
              </mat-option>

              <mat-option>
                <input
                  placeholder="Type job title press enter"
                  class="addInput"
                  #newJobType
                  (click)="$event.stopPropagation()"
                  (keydown.enter)="
                    isEditOpen
                      ? editQueryData($event, newJobType.value, 'jobType')
                      : addNewQueryData($event, newJobType.value, 'jobType')
                  "
                  (keydown)="handleKeydown($event)"
                  [value]="selectedValue"
                  autofocus
                />
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div *ngIf="jobType?.invalid && isSubmitted">
            <small *ngIf="jobType?.errors?.['required']">
              Job type field is required
            </small>
          </div>
        </div>

        <div class="col">
          <label for="employementType"
            >Employment Type <span class="required-icon">*</span></label
          >

          <mat-form-field>
            <input
              type="text"
              matInput
              [matAutocomplete]="employType"
              formControlName="employmentType"
            />
            <mat-autocomplete #employType="matAutocomplete">
              <mat-option
                *ngFor="let employmentType of jobEmploymentOption | async"
                [value]="employmentType.description | titlecase"
              >
                <div class="option-container">
                  <div class="option-text">
                    {{ employmentType?.description | titlecase }}
                  </div>
                  <div class="icon-container">
                    <erecruit-svg
                      [template]="svgTemplate.EDIT_ICON"
                      style="color: #919295dd"
                      (click)="
                        handleEditQuery(
                          $event,
                          employmentType?.id,
                          employmentType?.description
                        )
                      "
                    >
                    </erecruit-svg>

                    <erecruit-svg
                      [template]="svgTemplate.DELETE_ICON"
                      (click)="
                        handleDeleteQuery(
                          employmentType?.id,
                          'employmentType',
                          employmentType.description
                        )
                      "
                      style="color: #919295dd"
                    >
                    </erecruit-svg>
                  </div>
                </div>
              </mat-option>

              <mat-option>
                <input
                  placeholder="Type employment type press enter"
                  class="addInput"
                  #newEmpType
                  (click)="$event.stopPropagation()"
                  (keydown.enter)="
                    isEditOpen
                      ? editQueryData(
                          $event,
                          newEmpType.value,
                          'employmentType'
                        )
                      : addNewQueryData(
                          $event,
                          newEmpType.value,
                          'employmentType'
                        )
                  "
                  (keydown)="handleKeydown($event)"
                  [value]="selectedValue"
                  autofocus
                />
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div *ngIf="employmentType?.invalid && isSubmitted">
            <small *ngIf="employmentType?.errors?.['required']">
              Employment type field is required
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="jobSalary">Salary From</label>
          <input
            type="text"
            formControlName="jobSalary"
            amountFormat
            (keypress)="validateNumberInput($event)"
          />
        </div>

        <div class="col">
          <label for="jobSalary">Salary To</label>
          <input
            type="text"
            formControlName="jobSalaryTo"
            amountFormat
            (keypress)="validateNumberInput($event)"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="startDate"
            >Start Date <span class="required-icon">*</span></label
          >
          <mat-form-field appearance="fill">
            <input
              matInput
              [matDatepicker]="startDate"
              formControlName="startDate"
              required
              [min]="minDate"
              readonly
              (dateChange)="onStartDateChange()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <div *ngIf="jobStartDate?.invalid && isSubmitted">
            <small *ngIf="jobStartDate?.errors?.['required']">
              Start date field is required
            </small>
          </div>
        </div>

        <div class="col">
          <label for="endDate"
            >End Date <span class="required-icon">*</span></label
          >
          <mat-form-field appearance="fill">
            <input
              matInput
              [matDatepicker]="endDate"
              formControlName="endDate"
              required
              readonly
              [disabled]="isEditDate"
              [min]="minEndDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate [disabled]="isEditDate"></mat-datepicker>
          </mat-form-field>
          <div *ngIf="jobEndDate?.invalid && isSubmitted">
            <small *ngIf="jobEndDate?.errors?.['required']">
              End date field is required
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="requiredSkills">Required Skill</label>

          <mat-form-field>
            <mat-select
              panelClass="custom-dropdown"
              disableRipple
              formControlName="requiredSkills"
              multiple
            >
              <mat-option *ngFor="let skill of jobSkillData" [value]="skill.id">
                <div class="option-container">
                  <div class="option-text">{{ skill.description }}</div>
                  <div class="icon-container">
                    <erecruit-svg
                      [template]="svgTemplate.EDIT_ICON"
                      style="color: #919295dd"
                      (click)="
                        handleEditQuery($event, skill.id, skill.description)
                      "
                    >
                    </erecruit-svg>

                    <erecruit-svg
                      [template]="svgTemplate.DELETE_ICON"
                      (click)="
                        handleDeleteQuery(skill.id, 'jobSkill', skill.id)
                      "
                      style="color: #919295dd"
                    >
                    </erecruit-svg>
                  </div>
                </div>
              </mat-option>
              <div class="skill-dropdown">
                <mat-option>
                  <input
                    #newJobSkill
                    placeholder="Type skill and press enter"
                    class="addInput"
                    style="width: 760px"
                    (click)="$event.stopPropagation()"
                    (keydown.enter)="
                      isEditOpen
                        ? editQueryData($event, newJobSkill.value, 'jobSkill')
                        : addNewQueryData($event, newJobSkill.value, 'jobSkill')
                    "
                    (keydown)="handleKeydown($event)"
                    [value]="selectedValue"
                  />
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="Questions">Questions</label>
          <mat-form-field>
            <mat-select
              panelClass="custom-dropdown"
              disableRipple
              formControlName="questionOptions"
              multiple
              #questionSelect
            >
              <mat-option
                *ngFor="let question of questionTypeDropdown"
                [value]="question.id"
              >
                <div class="option-container">
                  <div class="option-text">{{ question?.description }}</div>
                  <div class="icon-container">
                    <erecruit-svg
                      [template]="svgTemplate.EDIT_ICON"
                      style="color: #919295dd"
                      (click)="onEditQuestion(question.id)"
                    >
                    </erecruit-svg>

                    <erecruit-svg
                      [template]="svgTemplate.DELETE_ICON"
                      style="color: #919295dd"
                      (click)="onDeleteQuestion(question.id)"
                    >
                    </erecruit-svg>
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mb-3">
        <erecruit-button
          [buttonConfig]="{
            text: 'Add Questions',
            customClass: 'custom-add-btn small-btn',
          icon: 'bi bi-plus-circle',
          }"
          (click)="onAddQuestion()"
        />
      </div>

      <div>
        <erecruit-button
          [buttonConfig]="{
            text: 'Rewrite with Ai',
            customClass: 'primary-btn outline-btn',
            type: 'button'
          }"
        />
      </div>

      <div class="row">
        <label for="description" style="margin-bottom: 5px"
          >Job Description <span class="required-icon">*</span></label
        >
        <div>
          <quill-editor
            formControlName="jobDescription"
            #editor
            (onEditorCreated)="onEditorCreated($event)"
          ></quill-editor>
        </div>

        <div *ngIf="jobDescription?.invalid && isSubmitted">
          <small *ngIf="jobDescription?.errors?.['required']">
            Job description field is required
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end my-4">
    <erecruit-button
      (click)="onSubmit()"
      [buttonConfig]="{
        text: 'Continue',
        customClass: 'primary-btn small-btn',
        type: 'submit',
        isLoading: loading
      }"
    >
    </erecruit-button>
  </div>
</div>
<ercruit-job-question-modal
  (updateQuestion)="updateQuestion()"
  [editId]="editId"
  [isEditModal]="isEditModal"
/>
