<div class="job-container">
  <div class="loader-container" *ngIf="isLoadingData$ | async">
    <div class="full-loader"></div>
  </div>
  <div *ngIf="!(isLoadingData$ | async)">
    <erecruit-header />
    <main>
      <section class="hero-section">
        <div class="content">
          <div class="info">
            <h4>
              Explore latest job openings apply now, and start you journey to
              success!
            </h4>
          </div>

          <img src="../../../assets/image/search-image.png" alt="" />
        </div>
      </section>

      <div style="min-height: 50vh">
        <div class="search">
          <div style="width: 100%">
            <erecruit-svg
              style="
                position: absolute;
                top: 22px;
                left: 30px;
                font-size: 12px;
                width: 14px;
                height: 14px;
                color: #acacac;
                padding-right: 10px;
              "
              [template]="svgTemplate.SEARCH_ICON"
            ></erecruit-svg>
            <input
              #input
              type="text"
              placeholder="Job title, skill, keyword"
              [(ngModel)]="searchValue"
              (keydown.enter)="onSearchEnter(input.value)"
              autocomplete="off"
            />
          </div>
          <erecruit-button
            style="position: absolute; top: 11px; right: 20px"
            [buttonConfig]="{
              text: 'Search',
              customClass: 'primary-btn small-btn',
              type: 'submit'
            }"
            (click)="searchJob()"
          >
          </erecruit-button>
        </div>

        <ng-container
          *ngIf="!(isLoadingData$ | async) && allJobs.length; else noData"
        >
          <div>
            <div class="category">
              <span class="icon">
                <erecruit-svg [template]="svgTemplate.SLIDER_ICON">
                </erecruit-svg>
              </span>
              <span class="total-job">{{ totalJob.length }} OPEN JOBS</span>
              <div class="category-btn">
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    id="dropdownBasic1"
                    style="display: flex; align-items: center; gap: 5px"
                    ngbDropdownToggle
                    [ngClass]="filters['workMode'] && ' active'"
                  >
                    {{ selectedWorkMode }}

                    <span
                      *ngIf="filters['workMode']"
                      (click)="
                        removeFiter('workMode', 'selectedWorkMode', 'Work Mode')
                      "
                    >
                      <erecruit-svg [template]="svgTemplate.CANCEL_ICON">
                      </erecruit-svg>
                    </span>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button
                      ngbDropdownItem
                      *ngFor="let item of workmode"
                      (click)="
                        setFilter(item.key, 'selectedWorkMode', 'workMode')
                      "
                    >
                      {{ item.value }}
                    </button>
                  </div>
                </div>

                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    [ngClass]="filters['jobType'] && ' active'"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                    #btn2
                  >
                    {{ selectedJobType }}

                    <span
                      *ngIf="filters['jobType']"
                      (click)="
                        removeFiter('jobType', 'selectedJobType', 'Job Type')
                      "
                    >
                      <erecruit-svg [template]="svgTemplate.CANCEL_ICON">
                      </erecruit-svg>
                    </span>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button
                      ngbDropdownItem
                      *ngFor="let item of jobType"
                      (click)="
                        setFilter(
                          item.description,
                          'selectedJobType',
                          'jobType'
                        )
                      "
                    >
                      {{ item.description | titlecase }}
                    </button>
                  </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    [ngClass]="filters['postedDateFilter'] && ' active'"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    {{ selectedPostedDate }}

                    <span
                      *ngIf="filters['postedDateFilter']"
                      (click)="
                        removeFiter(
                          'postedDateFilter',
                          'selectedPostedDate',
                          'Posted Date'
                        )
                      "
                    >
                      <erecruit-svg [template]="svgTemplate.CANCEL_ICON">
                      </erecruit-svg>
                    </span>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button
                      ngbDropdownItem
                      *ngFor="let item of postedDateOption"
                      (click)="
                        setFilter(
                          item.name,
                          'selectedPostedDate',
                          'postedDateFilter'
                        )
                      "
                    >
                      {{ item.label }}
                    </button>
                  </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    [ngClass]="filters['location'] && ' active'"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    {{ selectedLocation }}
                    <span
                      *ngIf="filters['location']"
                      (click)="
                        removeFiter('location', 'selectedLocation', 'location')
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-x"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                        />
                      </svg>
                    </span>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button
                      ngbDropdownItem
                      *ngFor="let item of jobLocation"
                      (click)="
                        setFilter(
                          item.description,
                          'selectedLocation',
                          'location'
                        )
                      "
                    >
                      {{ item.description }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear-filter" *ngIf="!isFilterEmpty">
              <button
                type="button"
                class="search-jobs__clear-filters"
                (click)="clearAllFilter()"
              >
                Clear filter
              </button>
            </div>

            <div
              class="job-listing"
              *ngIf="
                displayedJobs.length > 0 && !isSearchLoading && !isFilterLoading
              "
            >
              <h3>Lastest <span style="color: #299345">jobs openings</span></h3>
              <div class="content-container">
                <div
                  class="content"
                  *ngFor="let job of displayedJobs | paginate : pagingConfig"
                >
                  <div class="info">
                    <h2 class="job-title">{{ job.jobTitle | titlecase }}</h2>
                    <div class="location-date">
                      <span></span>
                      <span class="location">{{
                        job.jobLocation | titlecase
                      }}</span>
                      <span></span>
                      <div class="date">
                        End Dates
                        {{ job.endDate.toString().replaceAll("-", "/") }}
                      </div>
                    </div>

                    <div class="tags">
                      <span class="job-type">{{ job.jobType }}</span>
                      <span class="work-mode">{{
                        job.workMode.replace("_", "-") | titlecase
                      }}</span>
                      <span class="employment-type">{{
                        job.employmentType | titlecase
                      }}</span>
                    </div>
                  </div>
                  <div class="d-flex gap-4 align-center">
                    <erecruit-svg
                      style="width: 20px"
                      [template]="svgTemplate.RATING_ICON"
                    ></erecruit-svg>

                    <erecruit-button
                      [routerLink]="['/apply', job.id, 'overview', corpUrl]"
                      [buttonConfig]="{
                        text: 'View details',
                        customClass: 'primary-btn small-btn',
                        type: 'submit'
                      }"
                    >
                    </erecruit-button>
                  </div>
                </div>
              </div>

              <div class="pagination-container">
                <div
                  *ngIf="isPaginationLoading"
                  class="pagination-loader"
                ></div>
                <div class="pagination" *ngIf="displayedJobs.length > 10">
                  <pagination-controls (pageChange)="onTogglePage($event)">
                  </pagination-controls>
                </div>
              </div>
            </div>

            <div>
              <div
                class="loader"
                *ngIf="isFilterLoading || isSearchLoading"
              ></div>
              <div
                class="empty-data"
                *ngIf="
                  (!isSearchLoading && displayedJobs.length === 0) ||
                  (!isFilterLoading && displayedJobs.length === 0)
                "
              >
                <p>No results were found</p>

                <div class="divider"></div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noData>
          <div class="text-center" style="margin-top: 100px; line-height: 2.5">
            <h3 style="font-size: 20px; margin-bottom: 5px">
              No Jobs Available
            </h3>
            <p>There are currently no job listings. Please check back later</p>
          </div>
          <div class="divider"></div>
        </ng-template>
      </div>
    </main>
    <erecruit-footer />
  </div>
</div>
