.job-container {
  background-color: #f8f8fd;
  width: 100%;
  min-height: 100vh;
  position: relative;
  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .full-loader {
    border: 3px solid #28a745;
    border-color: #28a745 transparent #28a745 #28a745;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: load 0.5s linear infinite;
  }
  @keyframes load {
    to {
      transform: rotate(360deg);
    }
  }
  main {
    flex-grow: 1;
    min-height: 100vh;
    .hero-section {
      background-color: #97c93c;
      background-image: url(../../../assets/image/job-listing-bg.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      max-height: 150px;
      position: relative;

      img {
        width: auto;
        height: 470px;
      }
      .content {
        width: 75%;
        margin-left: 90px;
        display: flex;
        gap: 60px;
        justify-content: space-between;
        .info {
          margin-top: 40px;
          max-width: 500px;
          h1 {
            font-size: 26px;
            line-height: 1;
            font-weight: 600;
          }
          p {
            font-size: 20px;
            line-height: 1.4;
          }
        }
        img {
          width: auto;
          height: 280px;
        }
      }
    }

    .search {
      width: 100%;
      display: flex;
      margin-top: 70px;
      position: relative;
      max-width: 56.25rem;
      min-width: 735px;
      margin-right: auto;
      margin-left: auto;
      box-shadow: 0px 4px 4px 0px #0000001a;
      border-radius: 15px;
      background-color: white;

      input {
        color: #232323;
        width: 80%;
        padding: 20px 40px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        border: none;
        outline: none;
        margin-left: 20px;
        ::placeholder {
          font-size: 20px;
          margin-right: 5px;
          color: #acacac;
        }
      }
    }
    .category {
      display: flex;
      margin-top: 30px;
      gap: 12px;
      padding: 0px 240px;

      .icon {
        background-color: #cac9c9;
        width: 26px;
        height: 26px;
        text-align: center;
        border-radius: 5px;
        svg {
          width: 16px;
          height: 16px;
        }
      }
      .total-job {
        font-weight: 500;
        font-size: 14px;
      }

      .category-btn {
        margin-left: 2px;
        display: flex !important;
        flex-wrap: wrap;
        row-gap: 10px;
        flex: 1;

        .dropdown {
          margin-left: 10px;
          .btn {
            border-radius: 25px;
            padding: 4px 15px;
            color: #4d4d4d;
            font-size: 14px;
            font-weight: 500;
          }
          .btn-outline-primary {
            border-color: #00000036 !important;
            text-transform: capitalize;

            &:hover {
              background-color: #dddd !important;
              transition: all 0.5s ease;
            }
          }

          .dropdown-menu {
            overflow-y: auto;
            z-index: 10000;
          }
          .active {
            background-color: rgb(187 186 186 / 29%) !important;
          }
        }

        ::ng-deep .dropdown-item {
          color: rgb(71 85 105);
          font-size: 14px;
          &:focus,
          &:hover {
            background-color: #2993451f;
            color: rgb(71 85 105) !important;
          }
        }
      }
    }

    .clear-filter {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .search-jobs__clear-filters {
        margin-top: 30px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
      }
    }
    .job-listing {
      width: 70%;
      margin: 50px auto;
      margin-bottom: 100px;
      min-height: 50vh;
      animation: 0.8s job-list-slid-up;
      h3 {
        font-size: 32px;
      }
      .content-container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        width: 100%;
        align-items: stretch;
        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 18px 25px;
          background: #ffffff;
          border-radius: 8px;
          margin-top: 20px;
          box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);

          .info {
            flex: 1;
            .job-title {
              font-size: 20px;
              font-weight: bold;
              color: #26282a;
              text-transform: capitalize;
            }
            .location-date {
              margin: 5px 0px;
              display: flex;
              gap: 10px;
              align-items: center;
              color: #515b6f;
              font-size: 16px;
              .location,
              .date {
                font-size: 14px !important;
                color: #515b6f;
                font-size: 16px;
              }
              svg {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                border: 1px solid #515b6f;
                background-color: #515b6f;
              }
            }
            .tags {
              display: flex;
              gap: 10px;
              margin-top: 8px;

              .job-type {
                background-color: #dee2e64f;
                color: #333;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 25px;
              }
              .work-mode {
                background-color: transparent;
                color: #1ddb49f7;
                border: 1px solid #1ddb49f7;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 25px;
              }
              .employment-type {
                background-color: transparent;
                color: #062168;
                border: 1px solid #062168;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 25px;
              }
            }
          }
        }
      }
    }

    @keyframes job-list-slid-up {
      0% {
        transform: translate(0, 40px);
        opacity: 0;
      }
      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    .loader {
      border: 3px solid #28a745;
      border-color: #28a745 transparent #28a745 #28a745;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      animation: spin 0.5s linear infinite;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
    .empty-data {
      text-align: center;
      margin-top: 100px;

      p {
        font-size: size 1.5em;
        color: #717171;
        margin-bottom: 3em;
      }
    }

    .divider {
      background-color: hsl(203, 14%, 43%);
      height: 2px;
      opacity: 0.3;
      width: 70%;
      margin: 50px auto;
    }
    .pagination-container {
      .pagination {
        display: flex !important;
        justify-content: center !important;
      }
      .ngx-pagination {
        margin-top: 40px;
        margin-bottom: 1rem;
      }
      .pagination-loader {
        border: 3px solid #28a745;
        border-color: #28a745 transparent #28a745 #28a745;
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        border-radius: 50%;
        animation: spin 0.5s linear infinite;
      }
    }
  }
}
