<div class="mail-candidate">
  <div
    #modalRoot
    class="modal fade"
    id="mailCandidateModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdrop"
    aria-hidden="true"
    (hidden.bs.modal)="clearMessage()"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Mail Candidate</h5>
          <span class="close-icon" data-bs-dismiss="modal" (click)="close()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
        <div class="modal-body">
          <div class="candidate-profile">
            <img src="../../../../../assets/image/avatar.webp" alt="image" />
            <div class="info">
              <span>Chat with</span>
              <h2>{{ candidateData?.name }}</h2>
            </div>
          </div>

          <div class="chat-box">
            <div class="sender-conttainer">
              <div class="message-sender" *ngFor="let item of senderChat">
                <span class="message">{{ item.content }}</span>
                <span class="msg-delivery"></span>
                <span class="dateTime">{{
                  formatChatTimestamp(item.timestamp)
                }}</span>
              </div>
            </div>
            <div class="receiver-container">
              <div class="message-reciever" *ngFor="let item of recieverChat">
                <span class="message" [innerHTML]="item.content"> </span>
                <span class="msg-delivery"></span>
                <span class="dateTime">{{
                  formatChatTimestamp(item.timestamp)
                }}</span>
              </div>
            </div>
          </div>

          <div class="send-box">
            <div class="content">
              <input
                type="text"
                placeholder="Type a message..."
                [(ngModel)]="message"
              />
              <span class="message-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-mic"
                  viewBox="0 0 16 16"
                  mat-raised-button
                  matTooltip="Microphone"
                >
                  <path
                    d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"
                  />
                  <path
                    d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3"
                  />
                </svg>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-emoji-smile"
                  viewBox="0 0 16 16"
                  mat-raised-button
                  matTooltip="Emoji"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                  />
                  <path
                    d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                  />
                </svg>

                <svg
                  *ngIf="!isSendingMsg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-send"
                  viewBox="0 0 16 16"
                  mat-raised-button
                  matTooltip="Send"
                  (click)="onSubmitMessage()"
                  [style.cursor]="isSendingMsg ? 'not-allowed' : 'pointer'"
                >
                  <path
                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
                  />
                </svg>
              </span>
              <span class="mini-loader-spinner" *ngIf="isSendingMsg"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
