.candidate-container {
  width: 100%;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .job-search {
    background-color: white;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
    width: 350px;
    flex-shrink: 0;
    justify-content: space-between;
    button {
      padding: 9px;
      width: 100px;
      background-color: #28a745;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      flex-direction: column;
      justify-content: center;
      padding: 11px 40px;
      align-items: center;
      text-align: center;
      display: flex;
      border: none;
    }
    ::ng-deep .mat-mdc-form-field-flex {
      height: 40px !important;
    }
    ::ng-deep .mat-mdc-form-field-infix {
      width: 350px !important;
    }
    ::ng-deep .mat-mdc-text-field-wrapper {
      border: none !important;
    }
    ::ng-deep .mat-mdc-select-arrow {
      display: none;
    }
    ::ng-deep .mat-mdc-select-placeholder {
      font-size: 14px;
    }
  }

  .tabs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: white;
    border-radius: 25px;
    padding: 0px 0px;
    max-width: 350px;
    margin: 5px auto;

    button {
      border: none;
      border-radius: 25px;
      font-weight: 500;
      cursor: pointer;
      outline: none;
      padding: 12px 20px;
      letter-spacing: 0.03em;
      font-size: 12px;
      background-color: transparent;
      color: #000000;
      transition: 0.2s all ease-in-out;
    }
    button.active {
      background: #28a745 !important;
      border: none;
      color: white !important;
    }
  }

  .qualified-question {
    background-color: white;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
    flex-shrink: 0;
    justify-content: space-between;
    width: 98%;
    button {
      padding: 9px;
      width: 100px;
      background-color: #28a745;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      flex-direction: column;
      justify-content: center;
      padding: 11px 40px;
      align-items: center;
      text-align: center;
      display: flex;
      border: none;
    }
    ::ng-deep .mat-mdc-form-field-flex {
      height: 40px !important;
    }
    ::ng-deep .mat-mdc-form-field-infix {
      width: 100% !important;
    }
    ::ng-deep .mat-mdc-text-field-wrapper {
      border: none !important;
    }
    ::ng-deep .mat-mdc-select-arrow {
      display: none;
    }
    ::ng-deep .mat-mdc-select-placeholder {
      font-size: 14px;
    }
    ::ng-deep .cdk-overlay-pane {
      width: none !important;
    }
  }

  .candidate-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    .candidate-search {
      position: relative;
      width: 80%;
      input {
        color: #6d6d6d;
        padding: 10px 40px;
        font-size: 14px;
        width: 100%;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 25px;
        ::placeholder {
          font-size: 16px;
        }
      }
      svg {
        position: absolute;
        top: 12px;
        color: #b2b2b3;
        left: 15px;
        width: 20px;
        height: 20px;
      }
    }

    button {
      padding: 10px;
      width: 100px;
      background-color: transparent;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 500;
      color: white;
      border: 1px solid #dddd;
      color: #000000;
      transition: all 0.2s ease-in-out;
    }
  }
  .candidate-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 70px;

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .divider {
        border-bottom: 1px solid #ccc;
        margin-top: 16px;
      }
      label {
        font-size: 14px;
        margin-bottom: 5px;
      }
      input {
        padding: 10px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        height: 50px;
        width: 100%;

        ::placeholder {
          font-size: 14px;
        }
      }
      button {
        padding: 9px;
        width: 100px;
        background-color: #28a745;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        flex-direction: column;
        justify-content: center;
        padding: 11px 40px;
        align-items: center;
        text-align: center;
        display: flex;
        border: none;
      }
      button:hover {
        background: #218838;
      }
    }
  }

  .candidate-table {
    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }

    th,
    td {
      padding: 15px 12px;
      font-size: 15px;
      text-align: left;
    }
    tr:last-child td {
      border-bottom: none;
    }
    table th {
      background-color: #fafafa;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      border: none;
      color: rgb(40, 40, 41);
      padding-left: 10px;
    }

    tbody tr input:checked {
      border: 1px solid blue;
      ::after {
        content: "î­»";
        opacity: 1;
      }
    }
    tbody {
      td {
        font-size: 14px;
        color: #000000;
        padding: 15px;
      }
      .status-btn {
        .scheduled {
          background-color: #e0ebff;
          padding: 3px 20px;
          border-radius: 5px;
          color: #2a5dcc;
          border: none;
          font-size: 13px;
          max-width: 100px;
        }

        .hired {
          background-color: #e7f7ef;
          padding: 3px 20px;
          border-radius: 5px;
          color: #0dab6f;
          border: none;
          font-size: 13px;
          max-width: 100px;
        }
        .rejected {
          background-color: #ff000017;
          padding: 3px 20px;
          border-radius: 5px;
          color: #e50c20;
          max-width: 100px;
          border: none;
          font-size: 13px;
        }
        .pending {
          background-color: #fff6d3;
          padding: 3px 20px;
          border-radius: 5px;
          color: #e8be29;
          border: none;
          font-size: 13px;
          max-width: 100px;
        }
        .shortlist {
          background-color: #17a2b81f;
          padding: 3px 20px;
          border-radius: 5px;
          color: #17a2b8;
          border: none;
          font-size: 13px;
          max-width: 100px;
        }
      }
      .action {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        svg {
          width: 20px;
          height: 20px;
        }
        .humburger-icon svg {
          color: #d9d9d9;
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
        .humburger-icon[ngbDropdownToggle]::after {
          display: none !important;
        }

        .action-icon {
          display: flex;
          align-items: center;
          gap: 15px;
          padding-right: 3px;
          cursor: pointer;

          svg {
            width: 18px;
            height: 18px;
          }
          span:nth-child(1) {
            color: #6d6d6d;
          }
          span:nth-child(2) {
            color: #28a745;
          }
          span:nth-child(3) {
            color: #e50c20;
          }
        }
      }
    }
  }
  tbody tr:nth-child(even) {
    background-color: #f8f9fd;
  }
  tbody tr:nth-child(odd) {
    background-color: white !important;
  }
}

input[type="checkbox"] {
  accent-color: #28a745;
}

.ngb-dropdown-menu {
  z-index: 1050 !important;
  position: absolute !important;
}
::ng-deep .mat-mdc-select-placeholder {
  font-size: 14px;
}
