.candidate-container {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .candidate-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 10px 0px;
    .candidate-search {
      position: relative;
      width: 90%;
      input {
        color: #6d6d6d;
        padding: 10px 40px;
        font-size: 14px;
        width: 100%;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 25px;
        ::placeholder {
          font-size: 16px;
        }
      }
      svg {
        position: absolute;
        top: 12px;
        color: #b2b2b3;
        left: 15px;
        width: 20px;
        height: 20px;
      }
    }

    button {
      padding: 11px;
      width: 100px;
      background-color: transparent;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      border: 1px solid #28a745;
      color: #28a745;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #28a745;
        color: white;
      }
    }
  }
  .candidate-table {
    margin-top: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }

    th,
    td {
      padding: 15px 12px;
      font-size: 15px;
      text-align: left;
    }
    tr:last-child td {
      border-bottom: none;
    }
    table th {
      background-color: #fafafa;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      border: none;
      color: rgb(40, 40, 41);
      padding-left: 10px;
    }

    tbody tr input:checked {
      border: 1px solid blue;
      ::after {
        content: "";
        opacity: 1;
      }
    }
    tbody {
      td {
        font-size: 14px;
        color: #000000;
        padding: 15px;
      }
      .status-btn {
        .hired {
          background-color: #e7f7ef;
          padding: 3px 20px;
          border-radius: 5px;
          color: #0dab6f;
          border: none;
          font-size: 13px;
        }
        .rejected {
          background-color: #ff000017;
          padding: 3px 20px;
          border-radius: 5px;
          color: #e50c20;

          border: none;
          font-size: 13px;
        }
        .pending {
          background-color: #fff6d3;
          padding: 3px 20px;
          border-radius: 5px;
          color: #e8be29;
          border: none;
          font-size: 13px;
        }
      }
      .action {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        svg {
          width: 20px;
          height: 20px;
        }
        .humburger-icon svg {
          color: #d9d9d9;
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
        .humburger-icon[ngbDropdownToggle]::after {
          display: none !important;
        }
      }
    }
  }
  tbody tr:nth-child(even) {
    background-color: #f8f9fd;
  }
  tbody tr:nth-child(odd) {
    background-color: white !important;
  }
}

input[type="checkbox"] {
  accent-color: #28a745;
}

.ngb-dropdown-menu {
  z-index: 1050 !important;
  position: absolute !important;
}
