<div class="candidate-container">
  <h2>Job Applicants</h2>
  <div class="candidate-table">
    <div class="candidate-header">
      <div class="candidate-search">
        <input
          type="text"
          placeholder="Search by job title.."
          [(ngModel)]="searchText"
          (ngModelChange)="handleSearch()"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </div>
      <div>
        <button type="button">Filter</button>
      </div>
      <div>
        <button type="button">Export</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th
            style="
              display: flex;
              gap: 20px;
              padding-left: 10px;
              align-items: center;
            "
          >
            <input
              type="checkbox"
              style="
                border: 1px solid #eee;
                width: 15px;
                height: 15px;
                border-radius: 5px;
                margin-left: 6px;
              "
            />
            Name
          </th>
          <th>Job Title</th>
          <th>Job Type</th>
          <th>Work Mode</th>
          <th>Employment Type</th>
          <th>Application Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData">
          <td style="display: flex; gap: 20px; align-items: center">
            <input
              type="checkbox"
              style="
                border: 1px solid #eee;
                width: 15px;
                height: 15px;
                border-radius: 5px;
              "
            />

            {{ item?.name ? (item?.name | titlecase) : "N/A" }}
          </td>

          <td>
            {{
              item?.jobDetail?.jobTitle
                ? (item?.jobDetail?.jobTitle | titlecase)
                : "N/A"
            }}
          </td>
          <td>
            {{
              item?.jobDetail?.jobType
                ? (item?.jobDetail?.jobType | titlecase)
                : "N/A"
            }}
          </td>
          <td>
            {{
              item?.jobDetail?.workMode
                ? (item?.jobDetail?.workMode | titlecase)
                : "N/A"
            }}
          </td>
          <td>
            {{
              item?.jobDetail?.employmentType
                ? (item?.jobDetail?.employmentType | titlecase)
                : "N/A"
            }}
          </td>
          <td>{{ item?.createdAt }}</td>

          <td class="status-btn">
            <span
              [ngClass]="{
                pending: item.jobStatus === 'PENDING',
                active: item.jobStatus === 'APPROVED',
                closed: item.jobStatus === 'REJECTED'
              }"
              >{{ item?.jobStatus | titlecase }}</span
            >
          </td>

          <td>
            <div class="action">
              <div ngbDropdown class="d-inline-block" container="body">
                <span
                  class="humburger-icon"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                    />
                  </svg>
                </span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button
                    style="font-size: 14px"
                    data-bs-toggle="modal"
                    data-bs-target="#viewCandidateModal"
                    ngbDropdownItem
                    (click)="handleViewCandidate(item.id)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                      />
                    </svg>
                    View
                  </button>

                  <button
                    style="font-size: 14px"
                    ngbDropdownItem
                    *ngIf="item?.resume"
                  >
                    <a
                      [href]="item?.resume"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"
                        /></svg
                      >Resume
                    </a>
                  </button>
                  <button
                    style="font-size: 14px"
                    *ngIf="item.coverLetter"
                    ngbDropdownItem
                  >
                    <a
                      [href]="item?.coverLetter"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"
                        />
                      </svg>
                      Cover letter
                    </a>
                  </button>
                  <button style="font-size: 14px" ngbDropdownItem>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="12" cy="12" r="10"></circle>
                      <line x1="4" y1="4" x2="20" y2="20"></line>
                    </svg>

                    Reject
                  </button>
                  <button style="font-size: 14px" ngbDropdownItem>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                      />
                    </svg>
                    Interview
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="isLoading | async">
          <td>Loading...</td>
        </tr>
        <tr *ngIf="!(isLoading | async) && !filteredData?.length">
          <td>No record found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-candidate-view [candidateViewData]="candidateViewData" />
