<div
  class="modal fade"
  #myQuestionModal
  id="addQuestionModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="resetQuestionForm()"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Question</h5>
        <span class="close-icon" data-bs-dismiss="modal" aria-label="Close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            style="width: 20px"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmitQuestion()">
          <div class="form-group">
            <label for="desc">Description *</label>
            <input
              type="text"
              formControlName="description"
              style="height: 100px"
            />
            <div *ngIf="description?.invalid && isSubmittedQuestion">
              <small *ngIf="description?.errors?.['required']">
                Description field is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="questionType">Question Type *</label>
            <mat-form-field>
              <mat-select formControlName="questionType">
                <mat-option *ngFor="let type of questionType" [value]="type.key"
                  >{{ type.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="questionTypes?.invalid && isSubmittedQuestion">
              <small *ngIf="questionTypes?.errors?.['required']">
                Question type is required
              </small>
            </div>
          </div>
          <div
            *ngIf="
              questionTypeOptions.length > 0 &&
              questionTypes?.value === 'DROPDOWN'
            "
          >
            <ng-container
              *ngFor="let item of questionTypeOptions; let i = index"
            >
              <div class="question-dropdown-options">
                <span>{{ item.description | titlecase }}</span>
                <span
                  class="bi bi-dash-circle"
                  style="color: red; cursor: pointer; font-size: 14px"
                  (click)="removeQuestionOption(i)"
                >
                  Delete
                </span>
              </div>
            </ng-container>
          </div>

          <div>
            <div *ngIf="questionTypes?.value === 'DROPDOWN'">
              <div>
                <label for="option">Option*</label>
                <div class="form-group">
                  <input matInput formControlName="optionsDescription" />
                </div>
              </div>
            </div>
            <button
              *ngIf="questionForm.get('questionType')?.value === 'DROPDOWN'"
              type="button"
              style="
                border: none;
                background-color: transparent;
                float: right;
                color: #28a745;
                margin-bottom: 10px;
                cursor: pointer;
                font-weight: 400;
                font-size: 14px;
              "
              (click)="addQuestionOption()"
            >
              + Add More Option
            </button>
          </div>

          <div class="btn-action">
            <button type="button" class="close-btn" data-bs-dismiss="modal">
              <span>Cancel</span>
            </button>
            <button type="submit" class="submit-btn">
              <ng-container *ngIf="isLoadingQuestion; else showLoader">
                <span class="mini-loader-spinner"></span>
              </ng-container>
              <ng-template #showLoader>
                <span>Submit</span>
              </ng-template>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
