.modal {
  .modal-body {
    form {
      margin-top: 20px;
      .form-group {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;
        margin: 15px 0px;
        label {
          font-size: 13px;
          color: #484747;
        }
        input {
          color: #6d6d6d;
          padding: 10px 10px;
          height: 50px;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: 1px solid #dddd;
          border-radius: 5px;
          margin-top: 3px;
        }
      }

      small {
        color: rgba(216, 5, 5, 0.89);
        font-size: 13px;
      }
      .required-icon {
        position: relative;
        top: 2px;
      }
      .errorInput {
        border: 1px solid rgba(216, 5, 5, 0.89);
      }
      .btn-action {
        display: flex;
        float: left;
        button {
          border-radius: 25px;
          box-shadow: none;
          cursor: pointer;
          flex-shrink: 0;
          font-size: 0.875rem;
          font-weight: 500;
          letter-spacing: 0;
          min-width: 100px;
          padding: 0.75rem 1rem;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
          border: none;
          margin-right: 20px;
          margin-bottom: 10px;
          margin-top: 10px;
        }

        &:disabled {
          cursor: not-allowed;
        }
        .submit-btn {
          background-color: #28a745;
          color: #fff;
          &:hover,
          :focus {
            box-shadow: #0000004d 0 2px 6px;
            background-color: #28a745;
            outline: none;
          }
        }
        .close-btn {
          background-color: #eeee;
          color: #484747;

          &:hover,
          :focus {
            box-shadow: #0000004d 0 2px 6px;
            background-color: #f1f1f1;
            outline: none;
          }
        }

        .btn-cancel {
          background-color: #eeee;
        }
      }

      .mini-loader-spinner {
        border: 3px solid white;
        border-color: white transparent white white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        animation: spin 0.5s linear infinite;
        cursor: not-allowed;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
      .file-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        gap: 30px;
        label {
          font-size: 13px;
          color: #484747;
        }
        .file-wrapper_content {
          border: 1px solid #dddd;

          padding: 20px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          gap: 10px;
          cursor: pointer;
          margin-top: 8px;

          .file-bg {
            background-color: #f8f9fd;
            color: #28a745;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            svg {
              width: 20px;
              height: 20px;
            }
            .file {
              color: #28a745;
            }
          }
          .file-info {
            font-size: 14px;
            text-align: center;
          }
          .visually-hidden {
            display: none;
          }
        }
        .loader-bg {
          background-color: #eeeeee7d;
        }

        .file-wrapper__doc {
          display: flex;
          min-width: 150px;
          max-width: auto;
          width: fit-content;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          padding: 5px;
          height: 45px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          font-size: 14px;
          gap: 10px;
          flex-shrink: 0;
          margin-top: 5px;
          svg {
            width: 20px;
            height: 20px;
          }
          span {
            font-weight: 500;
          }
          .file {
            color: #28a745;
          }
          .cancel {
            color: red;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.close-icon {
  cursor: pointer;
  font-size: 12px;
  background-color: #28a745;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  margin: calc(-0.5 * 1rem) calc(-0.5 * 1rem) calc(-0.5 * 1rem) auto;
  padding: 2px;
}
