.job-overview__container {
  .overview {
    position: relative;
    top: -170px;
    width: 85%;
    margin: 0px auto;
    background: white;
    padding: 2.5rem;
    border-radius: 1rem;
    z-index: 1;

    .overview-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info {
        .info-title {
          font-size: 30px;
          font-weight: 600;
        }
        .info-sub {
          display: flex;
          gap: 10px;
          align-items: center;
          margin: 10px 0px;
          font-size: 17px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      .apply-btn {
        background: #28a745;
        padding: 0.6rem 1.5rem;
        border-radius: 50px;
        border: none;
        width: 200px;
        font-size: 1rem;
        text-align: center;
        margin: 20px 0px;
        cursor: pointer;
        color: white;

        &:hover,
        &:focus {
          box-shadow: #0000004d 0 2px 6px;
        }
      }
    }
    .job-section_container {
      margin-top: 20px;
      ::ng-deep .job-section {
        margin-top: 10px;

        h1,
        h2,
        h3 {
          color: #299345;
          font-size: 18px;
          margin-bottom: 0.5rem;
          background-color: #e0f6e6;
          padding: 8px 15px;
          border-radius: 5px;
        }
        ul,
        ol {
          margin-top: 10px;
          margin-bottom: 30px;
          padding-left: 20px;
        }
        li {
          margin-bottom: 8px;
          font-size: 15px;
        }
        p {
          margin-bottom: 30px;
          font-size: 15px;
        }
        a {
          color: blue;
        }
      }
    }
  }
  .loader {
    border: 3px solid #28a745;
    border-color: #28a745 transparent #28a745 #28a745;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    animation: spin 0.5s linear infinite;
    cursor: not-allowed;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
