<section class="job-overview__container">
  <div class="overview">
    <div class="overview-header">
      <div class="info">
        <h4 class="info-title">{{ jobData.jobTitle }}</h4>

        <div class="info-sub">
          <span>{{ jobData.jobType }}</span>

          <span
            ><svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M26.6256 10.1742C28.2038 6.85916 24.7432 3.39726 21.4269 4.97546L6.27017 12.1931C3.16317 13.6725 3.35557 18.1588 6.57827 19.3665L10.139 20.7016C10.3127 20.7667 10.4704 20.8683 10.6016 20.9995C10.7327 21.1306 10.8343 21.2884 10.8995 21.4621L12.2346 25.0241C13.4436 28.2455 17.9286 28.4379 19.408 25.3309L26.6256 10.1742Z"
                fill="#130F26"
              />
            </svg>
          </span>
          <span class="info-location">{{ jobData.jobLocation }}</span>
        </div>
      </div>
      <button
        type="button"
        class="apply-btn"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        Apply
      </button>
    </div>
    <div class="job-section_container">
      <div class="job-section" [innerHTML]="jobData.jobDescription"></div>
    </div>
  </div>
</section>
<erecruit-candidate-login />
