.stat-container {
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 10px;
  width: 700px;
  .stat {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    padding: 15px 15px;
    min-width: 320px;
    height: 100%;
    align-items: stretch;

    .card-header {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .card-title {
        color: #899bb1;
        font-weight: 400;
      }
      .card-total {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .icon-bg {
      background-color: #1ddb49f7;
      border-radius: 8px;
      display: flex;
      flex-direction: columns;
      justify-content: center;
      align-items: center;
      padding: 13px;
      svg {
        color: white;
        width: 25px;
        height: 25px;
      }
    }
    ul li {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.5;
      padding: 5px;
      list-style: circle;
    }
  }
  .pie-chart {
    #barChart1 {
      width: 120px !important;
    }
  }
  .candidate {
    margin: 20px auto;
    h4 {
      font-size: 18px;
      margin-left: 40px;
      font-weight: 600;
    }
    .content {
      display: flex;
      gap: 15px;
      position: relative;
      bottom: 15px;
      .pie-chart {
        position: relative;
        #barChart2 {
          width: 200px !important;
          height: 200px !important;
        }
        .total {
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 14.52px;
          text-align: left;
          position: absolute;
          top: 50%;
          left: 100px;
          transform: translate(-50%, -50%);
          line-height: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        .total {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .title {
            font-size: 14px;
            font-weight: 600;
            width: 60px;
          }
          .number {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
      .candidate-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 60px;
        .list {
          border-right: 1px solid #899bb159;
          padding-right: 13px;
          .bullet1 {
            width: 5px;
            height: 5px;
            background-color: #fbc784;
            border-radius: 50%;
            margin-bottom: 4px;
          }
          .bullet2 {
            background-color: #2e78ee;
            width: 5px;
            height: 5px;
            margin-bottom: 4px;
            border-radius: 50%;
          }
          .bullet3 {
            background-color: #28a745;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-bottom: 4px;
          }
          .bullet4 {
            background-color: #e50c20;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-bottom: 4px;
          }

          .item {
            display: flex;
            flex-direction: column;
            line-height: 1.5;

            :nth-child(1) {
              font-weight: 600;
            }
            :nth-child(2) {
              font-weight: 400;
              color: #899bb1;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  ::ng-deep .dropdown-toggle {
    border: 1px solid #6d6d6d59;
    color: #6d6d6d;
    font-size: 13px;
    padding: 5px 15px;
  }
}
