<footer>
  <div class="contact">
    <div class="info">
      <h3>Do you need help?</h3>
      <p>
        We will provide detailed information about our services, type of work,
        and top projects, we will calculate the cost and prepare a commercial
        proposal
      </p>
    </div>
    <span class="contact-link" [routerLink]="['/contact']">
      <span style="cursor: pointer"> Contact us</span>
      <erecruit-svg [template]="svgTemplate.ARROW_FORWARD_ICON"></erecruit-svg>
    </span>
  </div>

  <div class="footer-link">
    <div class="item-1">
      <img src="../../../assets/image/logo.svg" alt="logo" srcset="" />
      <div class="social-link">
        <erecruit-svg [template]="svgTemplate.FACEBOOK_ICON"></erecruit-svg>
        <erecruit-svg [template]="svgTemplate.TWITER_ICON"></erecruit-svg>
        <erecruit-svg [template]="svgTemplate.INSTAGRAM_ICON"></erecruit-svg>
        <erecruit-svg [template]="svgTemplate.LINKDIN_ICON"></erecruit-svg>
        <erecruit-svg [template]="svgTemplate.YOUTUBE_ICON"></erecruit-svg>
      </div>
    </div>
    <div class="item-2">
      <div class="useful-link">
        <div>
          <h3>Platform</h3>
          <ul>
            <li>About us</li>
            <li>Talent</li>
            <li>Recruiter</li>
          </ul>
        </div>
        <div>
          <h3>Resource</h3>
          <ul>
            <li>Recruitment guide</li>
            <li>Blog</li>
          </ul>
        </div>
        <div>
          <h3>Feature</h3>
          <ul>
            <li>Talent sourcing</li>
            <li>Interview and Scheduling</li>
            <li>Interview and Scheduling</li>
            <li>Onboarding</li>
            <li>Reporting and Analytics</li>
          </ul>
        </div>

        <div>
          <h3>Contact us</h3>
          <ul>
            <li>
              <erecruit-svg [template]="svgTemplate.EMAIL_ICON"></erecruit-svg>
              {{ "hml@systemspecs.com" }}
            </li>
            <li>
              <erecruit-svg [template]="svgTemplate.PHONE_ICON"></erecruit-svg>
              (234) 904 090 33
            </li>
            <li>
              <erecruit-svg
                [template]="svgTemplate.LOCATION_ICON"
              ></erecruit-svg
              >{{ "No. 6, Ojulari Street," }} <br />
              {{ "Lekki Ikate, Lagos. Nigeria." }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <span class="terms">All Rights Reserved | Terms and Conditions</span>
</footer>
