.logo {
  margin: 20px auto;

  img {
    max-width: 150px;
    width: auto;
    height: auto;
    object-fit: cover;
    margin: 0px auto;
    display: flex;
  }
}
.modal-body {
  .content {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .form-group {
    padding: 0px 10px;
    font-size: 14px;
    margin: 0px auto;
    display: flex;
    place-items: center;
    width: 100%;
    label {
      font-weight: 500;
      text-align: center;
    }
  }

  .form-group div {
    background: transparent;
  }

  .form-group div.form-control-static {
    height: 100%;
  }

  .form-group div.control-label {
    border-right: 2px solid #ffffff;
  }
  .form-group:nth-child(odd),
  .form-group.odd {
    background: #f9f9f9;
  }

  .form-group:nth-child(even),
  .form-group.even {
    background-color: rgb(77 179 121 / 18%);
  }
}

.close-icon {
  cursor: pointer;
  font-size: 12px;
  background-color: #28a745;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  margin: calc(-0.5 * 1rem) calc(-0.5 * 1rem) calc(-0.5 * 1rem) auto;
  padding: 2px;
}
