.create-job {
  width: 60%;
  margin: 70px auto;
  .create-job__header {
    text-align: center;
    h2 {
      font-weight: 600;
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .create-job__content {
    form {
      margin-top: 40px;
      .row {
        .col {
          display: flex !important;
          flex-direction: column !important;
        }
        margin: 15px 0px;
      }
      label {
        font-size: 13px;
        color: #484747;
      }
      input {
        color: #6d6d6d;
        padding: 10px 10px;
        height: 50px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin-top: 3px;
      }
      .loader-input-bg {
        background-color: #eeeeee24 !important;
      }
      .froala-container {
        position: relative;
      }

      .froala-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        cursor: not-allowed;
        z-index: 20000;
      }
      small {
        color: rgba(216, 5, 5, 0.89);
        font-size: 13px;
      }
      .required-icon {
        position: relative;
        top: 2px;
      }
      .errorInput {
        border: 1px solid rgba(216, 5, 5, 0.89);
      }
      .question-dropdown-options {
        background-color: rgb(238 238 238 / 25%);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        margin: 10px 0px;
      }
      .question-btn {
        cursor: pointer;
        margin: 15px;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 10px 15px;
        background: transparent;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
        }
      }
      .mini-loader-spinner {
        border: 3px solid white;
        border-color: white transparent white white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        animation: spin 0.5s linear infinite;
        cursor: not-allowed;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
    .question-btn {
      color: #1c73e8;
      font-size: 14px;
      border: none;
      outline: none;
      margin-left: 15px;
      padding: 3px 4px;
      margin: 10px 0px;
    }

    .ai-btn {
      background-color: #eeeeee59;
      border: 0.0625rem solid #0000;
      border-radius: 0.5rem;
      box-shadow: none;
      color: #000000ad;
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      margin-left: 15px;

      svg {
        width: 20px;
        height: 20px;
      }
      
    }
    .submit-btn {
      background-color: #1c73e8;
      border: 0.0625rem solid #0000;
      border-radius: 0.5rem;
      box-shadow: none;
      color: #fff;
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      margin-left: 15px;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  ::ng-deep .mat-mdc-form-field-infix {
    input {
      padding: 0 !important;
      border: none !important;
      height: auto !important;
    }

    input .addInput {
      color: #6d6d6d;
      padding: 5px 10px;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 400;
      outline: none;
      border: 1px solid #dddd !important;
      border-radius: 5px !important;
      width: 100% !important;
      ::placeholder {
        font-size: 14px;
      }
    }
  }
}
::ng-deep .modal-body {
  form {
    margin-top: 10px !important;

    .form-group {
      display: flex;
      flex-direction: column;
      margin: 10px 0px;
    }
  }
}
.custom-dropdown {
  .mat-select-panel {
    z-index: 1055 !important;
    position: absolute !important;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #7856fffd;
  animation: load 1.5s infinite ease-in-out;
  z-index: 20000;
}

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

::ng-deep .mdc-text-field__input {
  caret-color: black !important;
}
