<div *ngIf="isLoading | async" class="progress-bar"></div>
<section class="container">
  <header>
    <div class="search">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </span>
      <input
        #input
        type="text"
        placeholder=" Search Job title, or company name"
        [(ngModel)]="searchInput"
        (keydown.enter)="handleEnter(input.value)"
      />
    </div>
    <button type="submit" (click)="searchJob()">Find jobs</button>
  </header>

  <section class="job-category" *ngIf="jobList?.length">
    <span>{{ jobList.length }} OPEN JOBS</span>
    <div class="job-category-content">
      <button
        *ngFor="let item of jobCategory"
        (click)="toggleJobType(item)"
        [ngClass]="{ selected: selectedJobTypes.includes(item) }"
      >
        {{ item | titlecase }}
      </button>
    </div>
  </section>

  <section class="job-listing">
    <div class="job-listing-content"></div>

    <ng-container *ngIf="isLoading | async; else showJobListing">
      <app-loader-spinner />
    </ng-container>
    <ng-template #showJobListing>
      <div class="job-header" *ngIf="jobList?.length"></div>
      <ng-container *ngIf="!isLoadingSearch; else elseTemplate">
        <div class="job-listing-content">
          <div *ngFor="let item of jobList?.slice(start, end)" class="job-card">
            <a routerLink="/job-details/{{ item.id }}">
              <h2 class="job-title">{{ item.jobTitle }}</h2>
              <p class="company-name">{{ item.companyName }}</p>
              <span class="location">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                  />
                </svg>

                <p>
                  {{ item.jobLocation }}
                </p>
              </span>
              <div class="tags">
                <span class="job-type">{{ item.jobType | titlecase }}</span>
                <span class="work-mode">{{ item.workMode | titlecase }}</span>
                <span class="employment-type">{{
                  item.employmentType | titlecase
                }}</span>
              </div>

              <p class="job-dates">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                  />
                </svg>
                {{ formatDate(item.startDate) }} -
                {{ formatDate(item.endDate) }}
              </p>
            </a>
          </div>
        </div>
        <button
          type="button"
          *ngIf="jobList.length > 8"
          (click)="showJobList()"
        >
          Show more Job
        </button>
      </ng-container>
      <ng-template #elseTemplate> <app-loader-spinner /> </ng-template>
    </ng-template>
  </section>
</section>
