.create-job {
  .custom-dropdown {
    .mat-select-panel {
      z-index: 1055 !important; // Bootstrap modal has z-index 1050, so this must be higher
      position: absolute !important;
    }
  }
  .modal {
    z-index: 1060 !important;
  }

  .btn-close {
    font-size: 12px !important;
    cursor: pointer;
    &:hover {
      color: rgba(216, 5, 5, 0.89);
    }
  }
  .modal-header {
    padding: 10px 29px;
  }

  .modal-body {
    form {
      .row {
        .col {
          display: flex !important;
          flex-direction: column !important;
        }
        margin: 15px 0px;
      }
      label {
        font-size: 13px;
        color: #484747;
      }
      input {
        color: #6d6d6d;
        padding: 10px 10px;
        height: 50px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin-top: 3px;
      }
      input:disabled {
        background-color: transparent;
        cursor: not-allowed;
      }
      .froala-container {
        position: relative;
      }

      .froala-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6); /* Light transparent overlay */
        cursor: not-allowed;
        z-index: 20000;
      }

      small {
        color: rgba(216, 5, 5, 0.89);
        font-size: 13px;
      }
      .required-icon {
        position: relative;
        top: 2px;
      }
      .errorInput {
        border: 1px solid rgba(216, 5, 5, 0.89);
      }

      .form-btn {
        display: flex;
        gap: 5px;
        align-items: center;
        .apply-btn {
          background-color: #1c73e8;
          border: 0.0625rem solid #0000;
          border-radius: 0.5rem;
          box-shadow: none;
          color: #fff;
          cursor: pointer;
          display: block;
          flex-shrink: 0;
          font-size: 0.875rem;
          font-weight: 500;
          letter-spacing: 0;
          min-width: 100px;
          padding: 0.75rem 1rem;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
          word-break: keep-all;
          margin-left: 20px;

          &:disabled {
            cursor: not-allowed;
          }
        }
        .close-btn {
          background-color: #eeee;
          border: 0.0625rem solid #0000;
          border-radius: 0.5rem;
          box-shadow: none;
          color: #333;
          cursor: pointer;
          display: block;
          flex-shrink: 0;
          font-size: 0.875rem;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 1.43;
          line-height: 1.125rem;
          min-width: 100px;
          padding: 0.75rem 1rem;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
          word-break: keep-all;
        }
      }

      .question-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
          margin: 10px 0px;
          width: 100%;
        }
      }
      .question-btn {
        color: #1c73e8;
        font-size: 14px;
        border: none;
        outline: none;
        margin-left: 15px;
        padding: 3px 4px;
      }
      svg {
        width: 18px;
        height: 18px;
        cursor: pointer;
        &:hover {
          color: rgba(216, 5, 5, 0.89);
        }
      }

      .mini-loader-spinner {
        border: 2px solid white;
        border-color: white transparent white white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        animation: spin 0.5s linear infinite;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

::ng-deep .modal-backdrop {
  background: rgba(0, 0, 0, 0.2) !important;
  z-index: 999 !important;
}
