<section class="job-listing">
  <div class="job-header">
    <h4>Jobs for you</h4>
  </div>
  <div class="job-listing-content">
    <div *ngFor="let item of this.jobsList" class="job-info">
      <a routerLink="/job-details/{{ item.id }}">
        <h2 class="job-title">{{ item.jobTitle | titlecase }}</h2>
        <span class="company-name">{{ item.companyName }}</span>
        <span class="company-location">{{ item.jobLocation }}</span>
        <div class="job-desc">
          <span class="workMode">{{ item.workMode | titlecase }}</span>
          <span class="jobType">{{ item.jobType | titlecase }}</span>
        </div>
      </a>
    </div>
  </div>
  <button type="submit" *ngIf="jobsList.length > 5">Show more Job</button>
</section>
