.interview {
  background-color: white;
  padding: 20px 15px;
  border-radius: 10px;
  h4 {
    color: #899bb1;
    font-size: 16px;
  }
  .content {
    margin-top: 20px;
    .info {
      background-color: rgb(151 223 151 / 31%);
      font-weight: 500;
      padding: 10px 15px;
      font-size: 14px;
    }

    .calendar-container {
      margin-top: 20px;

      .today-event {
        margin-top: 20px;
        h4 {
          font-weight: 500;
        }
      }
    }
  }
}
