<div
  class="modal fade"
  #modalRoot
  id="deleteJobModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Confirmation Message
        </h5>
        <span class="close-icon" data-bs-dismiss="modal" (click)="close()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            style="width: 20px"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this job?</p>
      </div>

      <div class="modal-footer">
        <div class="d-flex gap-3">
          <erecruit-button
            (click)="close()"
            data-bs-dismiss="modal"
            [buttonConfig]="{
                text: 'Cancel',
                customClass: 'secondary-btn small-btn',
                type: 'button',
                
              }"
          >
          </erecruit-button>

          <erecruit-button
            (click)="onConfirmDelete()"
            [buttonConfig]="{
              text: 'Delete',
              customClass: 'delete-btn small-btn',
              type: 'submit',
              isLoading: isLoading
            }"
          >
          </erecruit-button>
        </div>
      </div>
    </div>
  </div>
</div>
