.corporate-container {
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
  }
  button {
    padding: 11px;
    width: 100px;
    background-color: #28a745;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
  }
  .corporate-table {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    h2 {
      font-size: 22px;
      background-color: white;
      border-radius: 5px;
    }
    .corporate-table-header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      margin: 10px 0px;
      .corporate-table-search {
        position: relative;
        width: 90%;
        input {
          color: #6d6d6d;
          padding: 10px 40px;
          font-size: 14px;
          width: 100%;
          font-weight: 400;
          outline: none;
          border: 1px solid #dddd;
          border-radius: 20px;
          ::placeholder {
            font-size: 16px;
          }
        }
        svg {
          position: absolute;
          top: 12px;
          color: #b2b2b3;
          left: 15px;
        }
      }

      button {
        padding: 11px;
        width: 100px;
        background-color: transparent;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 600;
        color: #28a745;
        border: 1px solid #28a745;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #23863a;
          color: white;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }

    th,
    td {
      padding: 15px 12px;
      font-size: 15px;
      text-align: left;
    }
    tr:last-child td {
      border-bottom: none;
    }
    table th {
      background-color: #fafafa;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      border: none;
      color: rgb(40, 40, 41);
      padding-left: 10px;
    }

    tbody tr input:checked {
      border: 1px solid blue;
      ::after {
        content: "";
        opacity: 1;
      }
    }
    tbody td {
      font-size: 14px;
      color: #585858;
      padding: 15px;
    }
    .action {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        width: 20px;
        height: 20px;
      }
      .humburger-icon svg {
        color: #dfdede;
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
      .humburger-icon[ngbDropdownToggle]::after {
        display: none !important;
      }
    }
  }
  tbody tr:nth-child(even) {
    background-color: #f8f9fd;
  }
  tbody tr:nth-child(odd) {
    background-color: white !important;
  }

  .create-corporate {
    width: 60%;
    margin: 10px auto;
    .create-corporate-header {
      text-align: center;
      h2 {
        font-weight: 600;
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.corporate-content {
  padding: 10px 15px;
  form {
    margin-top: 20px;
    .form-group {
      display: flex !important;
      flex-direction: column !important;
      gap: 10px;
      margin: 15px 0px;
      label {
        font-size: 13px;
        color: #484747;
      }
      input {
        color: #6d6d6d;
        padding: 10px 10px;
        height: 50px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin-top: 3px;
      }
    }

    .loader-input-bg {
      background-color: #eeeeee24 !important;
    }

    small {
      color: rgba(216, 5, 5, 0.89);
      font-size: 13px;
    }
    .required-icon {
      position: relative;
      top: 2px;
    }
    .errorInput {
      border: 1px solid rgba(216, 5, 5, 0.89);
    }
    .submit-btn {
      background-color: #28a745;
      border: 0.0625rem solid #0000;
      border-radius: 25px;
      box-shadow: none;
      color: #fff;
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .mini-loader-spinner {
      border: 3px solid white;
      border-color: white transparent white white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0px auto;
      animation: spin 0.5s linear infinite;
      cursor: not-allowed;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

input[type="checkbox"] {
  accent-color: #28a745;
}

::ng-deep .btn-close {
  color: white;
  img {
    color: white;
  }
}
.ngb-dropdown-menu {
  z-index: 1050 !important;
  position: absolute !important;
}
