.corporate-container {
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
  }
  .corporate-action {
    display: flex;
    align-items: center;
    gap: 10px;
    .corporate-search {
      background-color: white;
      border-radius: 25px;
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 20px;
      width: 500px;
      flex-shrink: 0;
      justify-content: space-between;
      button {
        padding: 11px;
        width: 100px;
        background-color: #28a745;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        flex-direction: column;
        justify-content: center;
        padding: 11px 40px;
        align-items: center;
        text-align: center;
        display: flex;
        border: none;
      }
      ::ng-deep .mat-mdc-form-field-flex {
        height: 40px !important;
      }
      ::ng-deep .mat-mdc-form-field-infix {
        width: 350px !important;
      }
      ::ng-deep .mat-mdc-text-field-wrapper {
        border: none !important;
      }
      ::ng-deep .mat-mdc-select-arrow {
        display: none;
      }
      ::ng-deep .mat-mdc-select-placeholder {
        font-size: 14px;
      }
    }
    button {
      padding: 11px;
      width: 100px;
      background-color: #28a745;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      border: none;
    }
  }

  .corporate-table {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 50px;
    margin-top: 20px;

    h2 {
      font-size: 22px;
      background-color: white;
      border-radius: 5px;
    }
    .corporate-table-header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      margin: 10px 0px;
      .corporate-table-search {
        position: relative;
        width: 90%;
        input {
          color: #6d6d6d;
          padding: 10px 40px;
          font-size: 14px;
          width: 100%;
          font-weight: 400;
          outline: none;
          border: 1px solid #dddd;
          border-radius: 20px;
          ::placeholder {
            font-size: 16px;
          }
        }
        svg {
          position: absolute;
          top: 12px;
          color: #b2b2b3;
          left: 15px;
          width: 20px;
          height: 20px;
        }
      }

      button {
        padding: 11px;
        width: 100px;
        background-color: transparent;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 600;
        color: #28a745;
        border: 1px solid #28a745;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #23863a;
          color: white;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }

    th,
    td {
      padding: 15px 12px;
      font-size: 15px;
      text-align: left;
    }
    tr:last-child td {
      border-bottom: none;
    }
    table th {
      background-color: #fafafa;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      border: none;
      color: rgb(40, 40, 41);
      padding-left: 10px;
    }

    tbody tr input:checked {
      border: 1px solid blue;
      ::after {
        content: "î­»";
        opacity: 1;
      }
    }
    tbody td {
      font-size: 14px;
      color: #000000;
      padding: 15px;
      white-space: normal;
      word-wrap: break-word;
    }
    .action {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        width: 20px;
        height: 20px;
      }
      .humburger-icon svg {
        color: #d9d9d9;
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
      .humburger-icon[ngbDropdownToggle]::after {
        display: none !important;
      }
    }
  }
  tbody tr:nth-child(even) {
    background-color: #f8f9fd;
  }
  tbody tr:nth-child(odd) {
    background-color: white !important;
  }
}
input[type="checkbox"] {
  accent-color: #28a745;
}

.ngb-dropdown-menu {
  z-index: 1050 !important;
  position: absolute !important;
}
