<div class="corporate-container">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <h2>Corporate</h2>
    <div class="corporate-action">
      <div class="corporate-search">
        <mat-form-field>
          <mat-select placeholder="Select Corporate" [formControl]="corpkey">
            <mat-option *ngFor="let item of data" [value]="item.hmCode">
              {{ item.name }} - {{ item.hmCode }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <button
          type="button"
          type="button"
          style="margin-right: 10px"
          (click)="handleGetCorpKey()"
        >
          Switch
        </button>
      </div>
      <div>
        <button
          data-bs-toggle="modal"
          data-bs-target="#createCorporateModal"
          type="button"
          type="button"
          style="margin-right: 10px"
        >
          Add New
        </button>
      </div>
    </div>
  </div>
  <div class="corporate-table">
    <div class="corporate-table-header">
      <div class="corporate-table-search">
        <input type="text" placeholder="Search" [(ngModel)]="searchText" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </div>
      <div>
        <button type="button">Filter</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th
            style="
              display: flex;
              gap: 20px;
              padding-left: 10px;
              align-items: center;
            "
          >
            <input
              type="checkbox"
              style="
                border: 1px solid #eee;
                width: 15px;
                height: 15px;
                border-radius: 5px;
                margin-left: 6px;
              "
            />
            Corporate Name
          </th>

          <th>Email</th>
          <th>Phone</th>
          <th>HmCode</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData">
          <td style="display: flex; gap: 20px; align-items: center">
            <input
              type="checkbox"
              style="
                border: 1px solid #eee;
                width: 15px;
                height: 15px;
                border-radius: 5px;
              "
            />

            {{ item?.name ? (item?.name | titlecase) : "N/A" }}
          </td>
          <td>{{ item?.email || "N/A" }}</td>
          <td>{{ item?.phone || "N/A" }}</td>
          <td>{{ item?.hmCode || "N/A" }}</td>

          <td>
            <div class="action">
              <div class="action-icon">
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#viewCorporateModal"
                  (click)="handleViewCorporate(item.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                </span>
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#editCorporateModal"
                  ngbDropdownItem
                  (click)="handleEditCorporate(item.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M12 20h9"></path>
                    <path d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4Z"></path>
                  </svg>
                </span>
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#deleteCorporateModal"
                  ngbDropdownItem
                  (click)="handleDeleteCorporate(item.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"></path>
                    <path d="M10 11v6"></path>
                    <path d="M14 11v6"></path>
                    <path d="M9 6V3h6v3"></path>
                  </svg>
                </span>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="!filteredData?.length">
          <td>No record found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-corporate-create (corporateCreated)="getCorporate()" />
<app-corporate-edit
  [editedData]="editedData"
  (corporateEdited)="getCorporate()"
/>
<app-corporate-view [corporateViewData]="corporateViewData" />
<app-corporate-delete
  [corporateId]="corporateId"
  (corporateDeleted)="getCorporate()"
/>
