.modal-header {
  padding: 10px 20px;
  h5 {
    font-size: 18px;
  }
  .close-icon {
    cursor: pointer;
    font-size: 12px;
    background-color: #28a745;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin: calc(-0.5 * 1rem) calc(-0.5 * 1rem) calc(-0.5 * 1rem) auto;
    padding: 2px;
  }
}

.modal-body {
  padding: 25px;
}
