.layout-container {
  background-color: #f8f8fd;
  width: 100%;
  min-height: 100vh;
  position: relative;
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main {
    flex-grow: 1;
  }
  .loader-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .full-loader {
    border: 3px solid #28a745;
    border-color: #28a745 transparent #28a745 #28a745;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: load 0.5s linear infinite;
  }
  @keyframes load {
    to {
      transform: rotate(360deg);
    }
  }
}
