.layout {
  background-color: rgb(238 238 238 / 41%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #97c93c;
  animation: load 1.5s infinite ease-in-out;
  z-index: 20000;
}
@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
