.corporate {
  width: 60%;
  margin: 70px auto;
  .corporate-header {
    text-align: center;
    h2 {
      font-weight: 600;
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .corporate-content {
    form {
      margin-top: 40px;

      .row {
        .col {
          display: flex !important;
          flex-direction: column !important;
        }
        margin: 15px 0px;
      }
      label {
        font-size: 13px;
        color: #484747;
      }
      input {
        color: #6d6d6d;
        padding: 10px 10px;
        height: 50px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin-top: 3px;
      }
      .loader-input-bg {
        background-color: #eeeeee24 !important;
      }

      small {
        color: rgba(216, 5, 5, 0.89);
        font-size: 13px;
      }
      .required-icon {
        position: relative;
        top: 2px;
      }
      .errorInput {
        border: 1px solid rgba(216, 5, 5, 0.89);
      }
      .submit-btn {
        background-color: #1c73e8;
        border: 0.0625rem solid #0000;
        border-radius: 0.5rem;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: block;
        flex-shrink: 0;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0;
        min-width: 100px;
        padding: 0.75rem 1rem;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        margin-left: 15px;
        &:disabled {
          cursor: not-allowed;
        }
      }

      .mini-loader-spinner {
        border: 3px solid white;
        border-color: white transparent white white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        animation: spin 0.5s linear infinite;
        cursor: not-allowed;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
