<div class="corporate">
  <div class="corporate-header">
    <h2>Create Corporate</h2>
    <p>Please Fill Out the Form Below to create new corporate!</p>
  </div>
  <div class="corporate-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <label for="corporateName"
            >Corporate Name <span class="required-icon">*</span></label
          >
          <input
            type="text"
            formControlName="name"
            [ngClass]="loading ? 'loader-input-bg' : ''"
          />
          <div *ngIf="name?.invalid && isSubmitted">
            <small *ngIf="name?.errors?.['required']">
              Corporate Name field is required
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="address"
            >Address<span class="required-icon">*</span></label
          >
          <input
            type="text"
            formControlName="address"
            [ngClass]="loading ? 'loader-input-bg' : ''"
          />
          <div *ngIf="address?.invalid && isSubmitted">
            <small *ngIf="address?.errors?.['required']">
              Address field is required
            </small>
          </div>
        </div>
        <div class="col">
          <label for="phone">Phone <span class="required-icon">*</span></label>
          <input
            type="text"
            formControlName="phone"
            [ngClass]="loading ? 'loader-input-bg' : ''"
          />
          <div *ngIf="phone?.invalid && isSubmitted">
            <small *ngIf="phone?.errors?.['required']">
              Phone field is required
            </small>
            <small
              *ngIf="!phone?.errors?.['required'] && phone?.errors?.['invalidPhone']"
              >Invalid Phone Number</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="email">Email<span class="required-icon">*</span></label>
          <input
            type="text"
            formControlName="email"
            [ngClass]="loading ? 'loader-input-bg' : ''"
          />
          <div *ngIf="email?.invalid && isSubmitted">
            <small *ngIf="email?.errors?.['required']">
              Email field is required
            </small>
            <small
              *ngIf="!email?.errors?.['required'] && email?.errors?.['invalidEmail']"
              >Invalid email format</small
            >
          </div>
        </div>
        <div class="col">
          <label for="hmCode">HmCode<span class="required-icon">*</span></label>
          <input
            type="text"
            formControlName="hmCode"
            [ngClass]="loading ? 'loader-input-bg' : ''"
          />
          <div *ngIf="hmCode?.invalid && isSubmitted">
            <small *ngIf="hmCode?.errors?.['required']">
              HmCode field is required
            </small>
          </div>
        </div>
      </div>

      <button class="submit-btn" [disabled]="loading">
        <ng-container *ngIf="loading; else showLoader">
          <span class="mini-loader-spinner"></span>
        </ng-container>
        <ng-template #showLoader>
          <span>Submit</span>
        </ng-template>
      </button>
    </form>
  </div>
</div>
