.loader {
  border: 2px solid #1c73e8;
  border-color: #1c73e8 transparent #1c73e8 #1c73e8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
