<section class="interview">
  <h4>INTERVIEWS</h4>
  <div class="content">
    <div class="info">You have 3 interview scheduled for this week</div>

    <div class="calendar-container">
      <div id="calendar"></div>

      <!-- <div class="today-event">
        <h4>Today</h4>
        <div class="scheduled">
          <span>
            <h5 class="job-name">Product Designer</h5>
            <span>First round of interview</span>
          </span>
          <span>
            <h5 class="candidate">John Doe</h5>
            <span class="time">9:00am</span>
          </span>
        </div>
      </div> -->
    </div>
  </div>
</section>
