.modal-header {
  h5 {
    font-size: 18px;
  }
  .close-icon {
    cursor: pointer;
    font-size: 12px;
    background-color: #28a745;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin: calc(-0.5 * 1rem) calc(-0.5 * 1rem) calc(-0.5 * 1rem) auto;
    padding: 2px;
  }
}
.modal-body {
  form {
    label {
      font-size: 14px;
      color: #484747;
    }
    input {
      color: #6d6d6d;
      font-size: 14px;
    }
    small {
      color: rgba(216, 5, 5, 0.89);
      font-size: 13px;
    }
  }
}
