// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.core();
$demo-primary: mat.define-palette(mat.$indigo-palette);
$demo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$demo-warn: mat.define-palette(mat.$red-palette);

$demo-theme: mat.define-light-theme(
  (
    color: (
      primary: $demo-primary,
      accent: $demo-accent,
      warn: $demo-warn,
    ),
  )
);
@include mat.all-component-themes($demo-theme);

@import "bootstrap/scss/bootstrap";
@import "notyf/notyf.min.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body * {
  font-family: "Inter", serif;
  scroll-behavior: smooth;
}

.fr-toolbar {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.fr-box.fr-basic .fr-wrapper {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-color: #6d6d6d !important;
}
.fr-second-toolbar {
  display: none;
}

.custom-dropdown .mat-select-panel {
  z-index: 1055 !important;
  position: absolute !important;
}

.mat-mdc-text-field-wrapper {
  background-color: white !important;
  margin-top: 5px;
  border: 1px solid #dddd !important;
  border-radius: 5px !important;
}

.mdc-text-field--filled.mdc-text-field--disabled {
  cursor: not-allowed;
}

.custom-dropdown .mat-select-panel {
  z-index: 1055 !important;
  position: absolute !important;
}
.mat-mdc-form-field-underline {
  background-color: transparent !important;
  border: none;
}
.mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mat-mdc-option {
  font-size: 14px;
}
.cdk-overlay-backdrop-showing {
  border: none;
}
.mat-mdc-select-value-text {
  font-size: 14px;
  color: #6d6d6d;
}
.mdc-line-ripple {
  display: none;
}

.mat-mdc-select-arrow svg {
  fill: black !important;
}
.mat-mdc-form-field-flex {
  height: 50px;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.mat-mdc-text-field-wrapper .showme {
  border: 1px solid red !important;
}
.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

.mat-step-header {
  border-radius: 10px;
}
.mat-mdc-form-field {
  display: block !important;
}
.mat-mdc-text-field-wrapper {
  margin: 5px 0px;
}

.ql-container {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.ql-editor {
  min-height: 180px;
}
:host ::ng-deep .quill-editor + div {
  position: relative;
  z-index: 10;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

.cdk-overlay-pane {
  z-index: 1051 !important;
  position: absolute !important;
}

.mat-mdc-input-element {
  caret-color: black !important;
}
