<section class="list-container">
  <div class="list-header">
    <div class="item">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M7.5 5.25a3 3 0 0 1 3-3h3a3 3 0 0 1 3 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0 1 12 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 0 1 7.5 5.455V5.25Zm7.5 0v.09a49.488 49.488 0 0 0-6 0v-.09a1.5 1.5 0 0 1 1.5-1.5h3a1.5 1.5 0 0 1 1.5 1.5Zm-3 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
            clip-rule="evenodd"
          />
          <path
            d="M3 18.4v-2.796a4.3 4.3 0 0 0 .713.31A26.226 26.226 0 0 0 12 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 0 1-6.477-.427C4.047 21.128 3 19.852 3 18.4Z"
          />
        </svg>
      </span>
      <h4>Active Job Listing</h4>
    </div>
    <div class="action">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z"
          clip-rule="evenodd"
        />
      </svg>
      <a [href]="['/dashboard/job/create']">Create New Job</a>
    </div>
  </div>

  <div class="content">
    <div class="card-item">
      <div class="item1">
        <div class="info">
          <img src="../../../.././../assets/image/download.png" alt="logo" />
          <div class="corporate-header">
            <span class="job-name">Product Designer</span>
            <div class="job-address">
              <span class="corporate-name">Jobberman</span>
              <span class="location">Lagos,Nigeria</span>
            </div>
          </div>
        </div>
        <div class="panel">
          <span>Panel</span>
          <div class="img-container">
            <img
              src="../../../../../assets/image/uifaces-popular-image (1).jpg"
              alt="image"
            />
            <img
              src="../../../../../assets/image/uifaces-popular-image (2).jpg"
              alt="image"
            />
          </div>
        </div>
        <div class="action">
          <span>Open</span>
          <span class="toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 12a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="item2">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="display: flex; align-items: center; gap: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
              />
            </svg>

            <span style="font-size: 14px"><strong>2</strong> applicants</span>
          </span>

          <span style="display: flex; align-items: center; gap: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <span style="font-size: 14px"><strong>10</strong> days ago</span>
          </span>
        </div>
        <div class="tag-container">
          <div class="tags">
            <span class="lang">Native English</span>
            <span class="work-mode">Remote</span>
            <span class="level">Senior</span>
            <span class="job-type">Full-time</span>
          </div>
          <span class="more">+2</span>
        </div>
      </div>
    </div>

    <div class="card-item">
      <div class="item1">
        <div class="info">
          <img
            src="../../../.././../assets/image/download (2).png"
            alt="logo"
          />
          <div class="corporate-header">
            <span class="job-name">Product Designer</span>
            <div class="job-address">
              <span class="corporate-name">Jobberman</span>
              <span class="location">Lagos,Nigeria</span>
            </div>
          </div>
        </div>
        <div class="panel">
          <span>Panel</span>
          <div class="img-container">
            <img
              src="../../../../../assets/image/uifaces-popular-image (1).jpg"
              alt="image"
            />
            <img
              src="../../../../../assets/image/uifaces-popular-image (2).jpg"
              alt="image"
            />
          </div>
        </div>
        <div class="action">
          <span>Open</span>
          <span class="toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 12a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="item2">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="display: flex; align-items: center; gap: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
              />
            </svg>

            <span style="font-size: 14px"><strong>2</strong> applicants</span>
          </span>

          <span style="display: flex; align-items: center; gap: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            <span style="font-size: 14px"><strong>10</strong> days ago</span>
          </span>
        </div>
        <div class="tag-container">
          <div class="tags">
            <span class="lang">Native English</span>
            <span class="work-mode">Remote</span>
            <span class="level">Senior</span>
            <span class="job-type">Full-time</span>
          </div>
          <span class="more">+6</span>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div class="item1">
        <div class="info">
          <img src="../../../.././../assets/image/download.png" alt="logo" />
          <div class="corporate-header">
            <span class="job-name">Product Designer</span>
            <div class="job-address">
              <span class="corporate-name">Jobberman</span>
              <span class="location">Lagos,Nigeria</span>
            </div>
          </div>
        </div>
        <div class="panel">
          <span>Panel</span>
          <div class="img-container">
            <img
              src="../../../../../assets/image/uifaces-popular-image (1).jpg"
              alt="image"
            />
            <img
              src="../../../../../assets/image/uifaces-popular-image (2).jpg"
              alt="image"
            />
          </div>
        </div>
        <div class="action">
          <span>Open</span>
          <span class="toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 12a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm6 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="item2">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="display: flex; align-items: center; gap: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
              />
            </svg>

            <span style="font-size: 14px"><strong>2</strong> applicants</span>
          </span>

          <span style="display: flex; align-items: center; gap: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            <span style="font-size: 14px"><strong>10</strong> days ago</span>
          </span>
        </div>
        <div class="tag-container">
          <div class="tags">
            <span class="lang">Native English</span>
            <span class="work-mode">Remote</span>
            <span class="level">Senior</span>
            <span class="job-type">Full-time</span>
          </div>
          <span class="more">+10</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <span>Page 1</span>
    <div class="item">
      <span class="prev"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </span>
      <div class="page-btn">
        <button class="active">1</button>
        <button>1</button>
      </div>

      <div class="next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
