<div class="job-container">
  <div>
    <div class="header">
      <span class="nav-back" (click)="onBack()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </span>
      <h2>Manage Jobs</h2>
    </div>

    <div class="d-flex justify-content-between">
      <div class="tabs">
        <button
          *ngFor="let tab of tabs; let i = index"
          (click)="onToggletabs(tab)"
          [class.active]="activeTag === tab"
        >
          {{ tab }}
        </button>
      </div>

      <div class="job-action">
        <a
          [href]="jobListingUrl"
          target="_blank"
          type="button"
          class="btn-list"
          style="
            margin-right: 10px;
            display: flex;
            gap: 5px;
            align-items: center;
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            style="width: 20px; height: 20px"
          >
            <rect x="3" y="4" width="18" height="16" rx="2" ry="2"></rect>
            <path d="M9 2h6"></path>
            <path d="M10 7h4"></path>
            <path d="M10 11h4"></path>
            <path d="M10 15h4"></path>
          </svg>

          <span> Job Listing</span>
        </a>

        <erecruit-button
          [routerLink]="['/job/create']"
          [buttonConfig]="{
            text: 'Add New',
            customClass: 'primary-btn small-btn',
            type: 'button',
            icon: 'bi bi-plus-circle'
          }"
        >
        </erecruit-button>
      </div>
    </div>
  </div>
  <div class="job-table">
    <div class="job-table-header">
      <div class="job-table-search">
        <input
          type="text"
          placeholder="Search"
          [formControl]="searchText"
          (keypress)="handleSearch($event)"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>

        <span
          class="clear-icon"
          (click)="onClearSearch()"
          *ngIf="searchText.value"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </span>
      </div>
      <div class="action-btn">
        <button type="button" (click)="openFilterModal()">Filter</button>
        <button type="button" (click)="onPublishJobs()">Publish</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>
            <input
              type="checkbox"
              (change)="onToggleAllCheckbox()"
              [checked]="selectedAllChecked"
            />
          </th>
          <th>Job Id</th>
          <th>Job Title</th>
          <th>Job Type</th>
          <th>Work Mode</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading && jobData.length === 0">
          <td colspan="8">Loading jobs...</td>
        </tr>

        <tr *ngFor="let item of jobData">
          <td>
            <input
              type="checkbox"
              (change)="onToggleSelection(item.id)"
              [checked]="selectedJobId.includes(item.id)"
            />
          </td>
          <td>
            {{ item?.jobId }}
          </td>

          <td>
            {{ item?.jobTitle | titlecase }}
          </td>
          <td>{{ item?.jobType | titlecase }}</td>
          <td>{{ item?.workMode?.replace("_", "-") | titlecase }}</td>
          <td>{{ item?.startDate }}</td>
          <td>{{ item?.endDate }}</td>

          <td class="status-btn">
            <span>{{ item?.status | titlecase }}</span>
          </td>
          <td>
            <div class="action">
              <div class="action-icon">
                <span
                  data-bs-toggle="modal"
                  data-bs-target="#viewJobModal"
                  (click)="handleViewJoDetail(item.id)"
                >
                  <erecruit-svg
                    mat-raised-button
                    matTooltip="View"
                    style="color: #6d6d6d"
                    [template]="svgTemplate.VIEW_ICON"
                  >
                  </erecruit-svg>
                </span>
                <span (click)="handleEditJob(item.id)">
                  <erecruit-svg
                    mat-raised-button
                    matTooltip="Edit"
                    style="color: rgb(2, 2, 202)"
                    [template]="svgTemplate.EDIT_ICON"
                  >
                  </erecruit-svg>
                </span>
                <span (click)="handleDeleteJob(item.id)">
                  <erecruit-svg
                    mat-raised-button
                    matTooltip="Delete"
                    style="color: #e50c20"
                    [template]="svgTemplate.DELETE_ICON"
                  >
                  </erecruit-svg>
                </span>

                <div ngbDropdown container="body">
                  <span
                    class="humburger-icon"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    <erecruit-svg
                      style="color: #d9d9d9"
                      [template]="svgTemplate.HUMBUGER_ICON"
                    >
                    </erecruit-svg>
                  </span>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <span style="font-weight: 500; margin: 5px 10px">
                      Job link</span
                    >
                    <button
                      ngbDropdownItem
                      style="display: flex; gap: 5px; align-items: center"
                      (click)="onCopyUrl(item.id)"
                      mat-raised-button
                      matTooltip="Copy"
                    >
                      <span
                        style="
                          background-color: #29934566;
                          border-radius: 25px;
                          padding: 5px 10px;
                          font-size: 14px;
                        "
                        >{{
                          jobUrl + "/" + item.id + "/overview" | slice : 0 : 50
                        }}...</span
                      >
                      <svg
                        width="17"
                        height="18"
                        viewBox="0 0 17 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_3313_45552)">
                          <path
                            d="M14.0008 6.89844H7.70078C6.92758 6.89844 6.30078 7.52524 6.30078 8.29844V14.5984C6.30078 15.3716 6.92758 15.9984 7.70078 15.9984H14.0008C14.774 15.9984 15.4008 15.3716 15.4008 14.5984V8.29844C15.4008 7.52524 14.774 6.89844 14.0008 6.89844Z"
                            stroke="black"
                            stroke-width="1.4"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M3.50039 11.1H2.80039C2.42909 11.1 2.07299 10.9525 1.81044 10.6899C1.54789 10.4274 1.40039 10.0713 1.40039 9.7V3.4C1.40039 3.0287 1.54789 2.6726 1.81044 2.41005C2.07299 2.1475 2.42909 2 2.80039 2H9.10039C9.47169 2 9.82779 2.1475 10.0903 2.41005C10.3529 2.6726 10.5004 3.0287 10.5004 3.4V4.1"
                            stroke="black"
                            stroke-width="1.4"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_3313_45552">
                            <rect
                              width="16.8"
                              height="16.8"
                              fill="white"
                              transform="translate(0 0.601562)"
                            />
                          </clipPath>
                        </defs>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr *ngIf="jobData?.length === 0 && !isLoading">
          <td colspan="8">No record found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<erecruit-job-view-modal [viewJobData]="viewJobData" />
<erecruit-job-delete-modal (jobDeleted)="loadJobs()" [jobId]="jobId" />
<erecruit-job-filter-modal (updateJobData)="updateJobData($event)" />
