.job-container {
  padding: 2rem 1.5rem;
  .action {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    h2 {
      font-weight: 600;
      font-size: 23px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    .nav-back {
      background-color: white;
      border-radius: 50px;
      padding: 3px 5px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      box-shadow: #0000004d 0 2px 6px;
    }
    p {
      font-size: 14px;
    }
  }
  .job-action {
    margin: 20px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    .btn-add {
      padding: 11px;
      width: 100px;
      background-color: #28a745;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      margin-left: 10px;
      border: none;
    }

    .btn-list {
      padding: 11px 20px;
      border: none;
      border-radius: 25px;
      font-size: 15px;
      font-weight: 600;
      background-color: transparent;

      svg {
        color: #28a745;
      }
    }
    a {
      text-decoration: none;
      color: rgb(40, 40, 41);
    }
  }
  .job-table {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 70px;
    margin-top: 20px;
    h2 {
      font-size: 22px;
      background-color: white;
      border-radius: 5px;
    }
    .job-table-header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      margin: 10px 0px;
      .job-table-search {
        position: relative;
        width: 90%;
        input {
          color: #6d6d6d;
          padding: 10px 40px;
          font-size: 14px;
          width: 100%;
          font-weight: 400;
          outline: none;
          border: 1px solid #dddd;
          border-radius: 10px;
          ::placeholder {
            font-size: 16px;
          }
        }
        svg {
          position: absolute;
          top: 12px;
          color: #b2b2b3;
          left: 15px;
          width: 20px;
          height: 20px;
        }
      }

      button {
        padding: 10px;
        width: 100px;
        background-color: transparent;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #dddd;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
    }

    th,
    td {
      padding: 15px 12px;
      font-size: 15px;
      text-align: left;
    }
    tr:last-child td {
      border-bottom: none;
    }
    table th {
      background-color: #fafafa;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      border: none;
      color: rgb(40, 40, 41);
      padding-left: 10px;
    }

    tbody td {
      font-size: 14px;
      color: #585858;
      padding: 15px;
    }

    tbody {
      .status-btn {
        .active {
          background-color: #e7f7ef;
          padding: 5px 10px;
          border-radius: 5px;
          color: #0dab6f;
          border: none;
          font-size: 13px;
        }
        .closed {
          background-color: #f8d7da;
          padding: 5px 20px;
          border-radius: 5px;
          color: #721c24;
          border: none;
          font-size: 13px;
        }
        .pending {
          background-color: #fff6d3;
          padding: 5px 20px;
          border-radius: 5px;
          color: #e8be29;
          border: none;
          font-size: 13px;
        }
      }
    }
    .action {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        width: 20px;
        height: 20px;
      }

      .action-icon {
        display: flex;
        gap: 15px;
        align-items: center;

        svg {
          width: 18px;
          height: 18px;
        }
        span:nth-child(1) {
          color: #6d6d6d;
        }
        span:nth-child(2) {
          color: rgb(2, 2, 202);
        }
        span:nth-child(3) {
          color: #e50c20;
        }

        .humburger-icon svg {
          color: #d9d9d9;
          width: 28px;
          height: 28px;
          cursor: pointer;
        }
        .humburger-icon[ngbDropdownToggle]::after {
          display: none !important;
        }
      }
    }
  }
  tbody tr:nth-child(even) {
    background-color: #f8f9fd;
  }
  tbody tr:nth-child(odd) {
    background-color: white !important;
  }
}
.dropdown-menu {
  ::ng-deep .dropdown-item {
    color: rgb(14 13 13);
    &:focus,
    &:hover {
      background-color: transparent !important;
      color: rgb(14 13 13) !important;
    }
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
