.edit-job {
  margin: 20px auto;
  .edit-job-header {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    h2 {
      font-weight: 600;
      font-size: 23px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    .nav-back {
      background-color: white;
      border-radius: 50px;
      padding: 3px 5px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      box-shadow: #0000004d 0 2px 6px;
    }
    p {
      font-size: 14px;
    }
  }
  .edit-job-content {
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
    form {
      margin-top: 40px;
      .row {
        .col {
          display: flex !important;
          flex-direction: column !important;
        }
        margin: 15px 0px;
      }
      label {
        font-size: 13px;
        color: #484747;
      }
      input {
        color: #6d6d6d;
        padding: 10px 10px;
        height: 50px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin-top: 3px;
      }
      .loader-input-bg {
        background-color: #eeeeee24 !important;
      }
      .froala-container {
        position: relative;
      }

      .froala-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        cursor: not-allowed;
        z-index: 20000;
      }
      small {
        color: rgba(216, 5, 5, 0.89);
        font-size: 13px;
      }
      .required-icon {
        position: relative;
        top: 2px;
      }

      .question-btn {
        cursor: pointer;
        margin: 15px;
        border: 1px solid #ddd;
        border-radius: 25px;
        padding: 10px 15px;
        background: transparent;
        &:hover,
        :focus {
          box-shadow: #0000004d 0 2px 6px;
        }
      }
      .mini-loader-spinner {
        border: 3px solid white;
        border-color: white transparent white white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        animation: spin 0.5s linear infinite;
        cursor: not-allowed;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }

    &:disabled {
      cursor: pointer;
    }
    .ai-btn {
      background-color: #eeeeee59;
      border: 0.0625rem solid #0000;
      border-radius: 25px;
      box-shadow: none;
      color: #28a745;
      margin-bottom: 30px;
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      margin-left: 15px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    ::ng-deep .mat-mdc-form-field-infix {
      input {
        padding: 0 !important;
        border: none !important;
        height: auto !important;
      }

      input .addInput {
        color: #6d6d6d;
        padding: 5px 10px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 1px solid #dddd !important;
        border-radius: 5px !important;
        width: 100% !important;
        ::placeholder {
          font-size: 14px;
        }
      }
    }
    .question-btn {
      color: #28a745;
      font-size: 14px;
      border: none;
      outline: none;
      margin-left: 15px;
      padding: 3px 4px;
      margin: 10px 0px;
    }

    .submit-btn {
      border-radius: 25px;
      box-shadow: none;
      cursor: pointer;
      flex-shrink: 0;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0;
      min-width: 100px;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      border: none;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: #28a745;
      color: white;

      &:hover,
      :focus {
        box-shadow: #0000004d 0 2px 6px;
        background-color: #28a745;
        color: white;
        outline: none;
      }
    }
  }
  .auto-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span svg {
      width: 20px;
      height: 20px;
    }
  }
}
input[type="checkbox"] {
  accent-color: #28a745;
}

.custom-dropdown {
  .mat-select-panel {
    z-index: 1055 !important;
    position: absolute !important;
  }
}

.option-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.option-text {
  flex: 1; /* Pushes icons to the right extreme */
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-container {
  display: flex;
  gap: 7px;
  align-items: center;
  position: absolute;
  right: 10px;
}

::ng-deep .mat-mdc-option input {
  border: 1px solid #dddd;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  margin: 5px 20px;
  width: 390px;
}

.addInput {
  border: 1px solid #dddd;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  margin: 5px 20px;
  width: 390px;
}
