<div class="home">
  <header>
    <img src="../../assets/image/logo-2.PNG" alt="" style="width: 130px" />
    <nav>
      <ul>
        <li routerLink="/">Home</li>
        <li>Platform</li>
        <li>Pricing</li>
        <li>About</li>
        <li>Job board</li>
      </ul>
    </nav>
    <div class="nav-action">
      <button class="login-btn" [routerLink]="['/login']">Login</button>
      <button class="demo-btn">Request a demo</button>
    </div>
  </header>
  <section class="hero-section">
    <div class="content">
      <div class="info">
        <h1>
          Discover a

          <span style="position: relative; top: 25px">
            <img
              src="../../assets/image/Rectangle 34624159.png"
              alt=""
              style="width: 215px; height: 70px"
            />
            <span
              style="
                position: absolute;
                bottom: 25px;
                left: 8px;
                color: #144721;
              "
              >smarter</span
            >
          </span>

          way to find the perfect candidate faster
        </h1>
        <p>
          Say Goodbye to endless resumes and tidious interviews. Our platform
          simplifies the hiring process, so you can find the right candidate
          quickly and efficiency.
        </p>
        <button class="get-started-btn" routerLink="/signup">
          Get started
        </button>
      </div>

      <div>
        <img src="../../assets/image/Group 39479.png" alt="stat-image" />
      </div>
    </div>
  </section>
  <div class="main-content">
    <div class="intro">
      <div class="content">
        <h3>
          Maximize your <span style="color: #28a745">time</span>,<br />Minimize
          your
          <span style="color: #9dcf52">stress</span>
        </h3>

        <p>
          Our platform saves you hours of shifing through unqualified
          applicants, so you can focus on what matters, most-growing business.
        </p>
        <button class="get-started-btn">Get started</button>
      </div>

      <div>
        <img src="../../assets/image/Frame 28.png" alt="" />
      </div>
    </div>
  </div>
</div>
