.job-category {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 15px 0px;
  span {
    text-transform: uppercase;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }
  .job-category-content {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 10px;

    button {
      border: 1px solid #ddd;
      border-radius: 15px;
      text-transform: uppercase;
      background: hsl(60, 7%, 95%);
      font-weight: 400;
      cursor: pointer;
      outline: none;
      padding: 8px 10px;
      letter-spacing: 0.03em;
      font-size: 12px;
    }
  }
}
