.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200000;

  .progress-track {
    width: 100%;
    height: 3px;
    background-color: #ececec;

    .progress-bar {
      height: 100%;
      width: 0%;

      transition: width 0.2s ease-out;
    }
  }
}
.primary-bg {
  background-color: #28a745;
}
.secondary-bg {
  background-color: #08d838;
}
@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
