.hero-section {
  background-color: #97c93c;
  background-image: url("/assets/image/job-listing-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  position: relative;

  img {
    width: auto;
    height: 470px;
  }
  .content {
    width: 75%;
    margin-left: 100px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    .info {
      margin-top: 60px;
      h3 {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 600;
      }
      p {
        font-size: 20px;
        line-height: 1.4;
      }
      .arrow-back {
        background-color: white;
        border-radius: 25px;
        padding: 2px 5px;
        cursor: pointer;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .tabs {
        display: flex;
        gap: 20px;
        margin: 10px 0px;
        background-color: white;
        border-radius: 25px;
        padding: 0px 0px;
        max-width: 250px;

        button {
          border: none;
          border-radius: 25px;
          font-weight: 500;
          cursor: pointer;
          outline: none;
          padding: 12px 25px;
          letter-spacing: 0.03em;
          font-size: 12px;
          background-color: transparent;
          color: #000000;
          transition: 0.2s all ease-in-out;
        }
        button.active {
          background: #28a745 !important;
          border: none;
          color: white !important;
          padding: 12px 30px;
        }
      }
    }
  }
}

.loader-container {
  min-height: 100vh;
  margin-top: 100px;
  .loader {
    border: 3px solid #28a745;
    border-color: #28a745 transparent #28a745 #28a745;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    animation: spin 0.5s linear infinite;
    cursor: not-allowed;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #28a745;
  animation: load 1.5s infinite ease-in-out;
}

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
// .job-detail-container {
//   margin-top: 60px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 100px;
//   max-width: 70%;
//   width: 90%;
//   .job-nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     span {
//       cursor: pointer;
//       svg {
//         width: 16px;
//         height: 16px;
//         color: #28a745;
//       }

//       a {
//         outline: none;
//         text-decoration: none;
//         color: #28a745;
//         display: flex;
//         align-items: center;
//         font-size: 14px;
//       }
//     }
//   }
//   .job-details-header {
//     font-weight: 400;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 2rem;
//     padding: 8px 0 32px;
//     justify-content: space-between;
//     margin-top: 10px;
//     div {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;
//       h2 {
//         font-size: 1.5rem;
//         line-height: 2.5rem;
//         font-weight: 600;
//       }
//       span {
//         display: flex;
//         align-items: center;
//         gap: 5px;
//         font-size: 16px;

//         svg {
//           height: 18px;
//         }
//       }
//     }
//   }

//   ::ng-deep .job-details-desc {
//     margin-top: 10px;
//     a {
//       color: blue;
//     }
//     h1,
//     h2,
//     h3,
//     h4 {
//       color: black;
//       font-size: 16px;
//       font-weight: 500;
//       margin: 10px 0px;
//     }
//     ul,
//     ol {
//       margin-top: 10px;
//       margin-bottom: 30px;
//       padding-left: 20px;
//     }
//     li {
//       margin-bottom: 8px;
//       font-size: 15px;
//     }
//     p {
//       margin-bottom: 30px;
//       font-size: 15px;
//     }
//   }
//   .job-divider {
//     border: 0;
//     border-bottom: 1px solid #c9c8c8;
//     margin-top: 40px;
//   }
//
// }
