.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #28a745;
  animation: load 1.5s infinite ease-in-out;
}

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.job-detail-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 70%;
  width: 90%;
  .job-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
      svg {
        width: 18px;
        height: 18px;
        color: #28a745;
      }
      p {
        color: #28a745;
        font-size: 14px;
        outline: none;
      }

      a {
        outline: none;
        text-decoration: none;
        color: #28a745;
        display: flex;
        align-items: center;
      }
    }
  }
  .job-details-header {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 8px 0 32px;
    justify-content: space-between;
    margin-top: 10px;
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 600;
      }
      span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;

        svg {
          height: 18px;
        }
      }
    }
  }

  ::ng-deep .job-details-desc {
    margin-top: 10px;
    h2 {
      font-size: 20px !important;
      font-weight: 600;
      line-height: 2.5rem;
    }
    h3,
    h4,
    h5 {
      font-size: 19px;
      font-weight: 700 !important;
      strong {
        font-weight: 700 !important;
      }
    }

    li {
      padding: 5px 0px;
    }
    p {
      padding: 5px 0px;
      font-size: 16px;
      line-height: 2;
    }
  }
  .job-divider {
    border: 0;
    border-bottom: 1px solid #c9c8c8;
    margin-top: 40px;
  }
  .apply-btn {
    background: #28a745;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.15s ease 0s, color 0.15s ease 0s,
      box-shadow 0.15s ease 0s;
    border: none;
    width: 200px;
    font-size: 1rem;
    text-align: center;
    margin: 20px 0px;
    cursor: pointer;
    color: white;

    &:hover,
    &:focus {
      box-shadow: #0000004d 0 2px 6px;
    }
  }
}
