<div
  class="modal fade"
  #modalRoot
  id="questionModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          {{ isEditModal ? "Edit Question" : "Add Question" }}
        </h5>
        <span class="close-icon" (click)="close()" data-bs-dismiss="modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
            style="width: 20px"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionForm">
          <div class="form-group">
            <label for="questionType"
              >Question Type <span class="required-icon">*</span></label
            >
            <mat-form-field>
              <mat-select
                formControlName="questionType"
                (selectionChange)="onQuestionTypeChange($event)"
              >
                <mat-option *ngFor="let type of questionType" [value]="type.key"
                  >{{ type.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="questionTypes?.invalid && questionTypes?.touched">
              <small *ngIf="questionTypes?.errors?.['required']">
                Question type is required
              </small>
            </div>
          </div>
          <div
            *ngIf="
              questionTypeOptions.length > 0 &&
              questionTypes?.value === 'DROPDOWN'
            "
          >
            <ng-container
              *ngFor="let item of questionTypeOptions; let i = index"
            >
              <div class="question-dropdown-options">
                <span style="flex: 2">{{ item.description }}</span>

                <span
                  class="bi bi-dash-circle"
                  style="color: red; cursor: pointer; font-size: 14px"
                  (click)="removeQuestionOption(i)"
                >
                  Delete
                </span>
              </div>
            </ng-container>
          </div>
          <div>
            <div *ngIf="questionTypes?.value === 'DROPDOWN'">
              <div>
                <label for="option">Option*</label>
                <mat-form-field>
                  <input matInput formControlName="optionsDescription" />
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="isQualifyQuestion && questionTypes?.value === 'TEXT'">
              <div>
                <label for="option">Operator</label>
                <mat-form-field>
                  <mat-select formControlName="operator">
                    <mat-option
                      *ngFor="let operator of operatorData"
                      [value]="operator"
                    >
                      {{ operator | titlecase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <label for="option">Qualified Value</label>
                <mat-form-field style="margin-bottom: 4px">
                  <input
                    matInput
                    formControlName="qualifyValue"
                    (keypress)="validateNumberInput($event)"
                  />
                </mat-form-field>
                <div *ngIf="qualifyValue?.invalid && questionTypes?.touched">
                  <small *ngIf="qualifyValue?.errors?.['required']"
                    >Qualified value is required</small
                  >
                </div>
              </div>
            </div>

            <div *ngIf="questionTypes?.value === 'DATE'">
              <label for="option">Select Date</label>
              <mat-form-field appearance="fill">
                <input
                  matInput
                  [matDatepicker]="date"
                  formControlName="optionsDescription"
                  required
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="date"
                ></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
            </div>

            <div
              class="d-flex justify-content-between align-center my-3"
              *ngIf="questionForm.get('questionType')?.value === 'TEXT'"
            >
              <span style="font-size: 14px">Qualified question?</span>
              <div>
                <span class="toggle-container">
                  <input
                    type="checkbox"
                    class="toggle"
                    id="isQualifyQuestion"
                    (change)="onQualifyQuestionChange($event)"
                  />
                  <label for="isQualifyQuestion">
                    <span class="on">Yes</span>
                    <span class="off">No</span>
                  </label>
                </span>
              </div>
            </div>

            <div
              class="my-3"
              style="text-align: right"
              *ngIf="questionForm.get('questionType')?.value === 'DROPDOWN'"
            >
              <erecruit-button
                [buttonConfig]="{
                  text: 'Add more options',
                  customClass: 'primary-btn outline-btn',
                  type: 'button',
                  icon: 'bi bi-plus-circle'
                }"
                (click)="addQuestionOption()"
              >
              </erecruit-button>
            </div>
          </div>

          <div class="form-group">
            <label for="desc"
              >Description <span class="required-icon">*</span></label
            >
            <textarea
              formControlName="description"
              style="height: 100px"
              [maxlength]="250"
              rows="5"
            ></textarea>

            <div class="d-flex justify-between align-items-center mt-1">
              <span *ngIf="description?.invalid && description?.touched">
                <small *ngIf="description?.errors?.['required']">
                  Description field is required</small
                >
              </span>

              <span class="ms-auto" style="font-size: 13px">
                {{ description?.value?.length || 0 }} / 250 characters
              </span>
            </div>
          </div>

          <div class="d-flex gap-3" style="margin-top: 25px">
            <erecruit-button
              (click)="close()"
              data-bs-dismiss="modal"
              [buttonConfig]="{
                text: 'Cancel',
                customClass: 'secondary-btn small-btn',
                type: 'button',
                
              }"
            >
            </erecruit-button>

            <erecruit-button
              (click)="onSubmitQuestion()"
              [buttonConfig]="{
                text: 'Submit',
                customClass: 'primary-btn small-btn',
                type: 'submit',
                isLoading: isLoadingQuestion
              }"
            >
            </erecruit-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
